@use "../variables" as *;

.cart-table {
  width: 100%;

  .related {
    display: none;

    &.visible {
      display: block;
      margin-top: -10px + 5px;
      margin-bottom: 10px;
      width: 100%;

      @media (max-width: 991px) {
        margin-top: 0;
        margin-bottom: 0;
      }

      td {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        margin: -5px;
        width: calc(100% + 10px);

        @media (max-width: 991px) {
          margin: 0;
          width: 100%;
        }
      }

      .cart-related-product {
        margin: 5px;
        width: calc(100% / 4 - 10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        border-radius: $border-radius;
        background-color: $color-body-background;
        text-align: center;

        @media (max-width: 1439px) {
          width: calc(100% / 3 - 10px);
        }

        @media (max-width: 600px) {
          width: calc(100% / 2 - 10px);
        }

        // @media (max-width: 360px) {
        //   width: calc(100% - 10px);
        // }

        .cart-related-info {
          display: flex;
          flex-direction: column;
          align-items: center;

          .cart-related-img {
            &:hover+.cart-related-name {
              text-decoration: underline;
            }
          }

          .cart-related-name {
            text-decoration: none;
            color: $color-black;
            font-weight: 500;
            padding-top: 4px;

            &:hover {
              text-decoration: underline;
            }
          }

          .cart-related-availability {
            padding-top: 3px;
          }
        }

        .cart-related-button {
          margin-top: auto;
          padding-top: 4px;

          .price-final {
            display: block;
            color: $color-black;
            margin-bottom: 4px;
            font-size: 15px;
          }
        }
      }
    }
  }

  tr:not(.removeable):not(.related) {
    position: relative;
    display: flex;
    padding: 10px;
    border: 2px solid $color-body-background;
    border-radius: $border-radius;

    .p-name {
      font-size: 15px;
      line-height: 1.1;
      color: $color-black;
      font-weight: 500;

      @media (max-width: 991px) {
        padding: 0;
        margin-top: 7px;
        margin-bottom: 10px;
        text-align: center;
      }
    }

    @media (max-width: 991px) {
      width: calc(100% / 3 - 10px);
      margin: 5px;
      flex-wrap: nowrap;
      align-items: center;
      flex-direction: column;

      .p-availability {
        display: none;
      }

      .cart-p-image {
        flex: initial;
        margin: 0 auto;
      }

      .p-total,
      .p-price,
      .p-discount {
        flex: initial;
        height: auto;
        position: initial;
        transform: none;
        padding: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
      }

      .p-quantity {
        position: initial;
        padding-bottom: 7px;
      }
    }

    @media (max-width: 600px) {
      width: calc(100% / 2 - 10px);
    }
  }

  .removeable {
    display: flex;
    align-items: stretch;
    position: relative;
    margin-bottom: 10px;
    // height: 100px + 10px * 2 + 2px * 2;
    padding: 10px;
    border-radius: $border-radius;
    border: 2px solid $color-body-background;
    padding-right: 130px;

    .cart-xyDiscount__description {
      display: none;
    }
  }

  .cart-p-image {
    flex: 0 0 70px;

    >a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      height: 100%;
    }

    img {
      width: auto;
      height: 100%;
      object-fit: contain;
    }

    &:hover+.p-name .main-link {
      text-decoration: underline;
    }
  }

  .cart-xyDiscount__banner .cart-xyDiscount__title {
    color: var(--xy-discount-banner-color);

    .show-tooltip {
      &::before {
        content: '?';
        display: inline-block;
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-align: center;
        font-size: 12px;
        border-radius: $border-radius;
        background-color: var(--xy-discount-banner-color);
        color: #fff;
        position: relative;
        top: -1px;
      }
    }
  }

  .p-name {
    padding-left: 10px;
    flex: 1;
    padding-bottom: 50px;

    .show-related {
      margin-top: 2px;
      display: block;
      font-size: 13px;
    }

    .main-link {
      font-size: 15px;
      line-height: 1.1;
      text-decoration: none;
      color: $color-black;
      font-weight: 500;
      margin-bottom: 3px;

      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .p-availability {
    flex: 0 0 110px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    padding: 0 10px;
    text-align: right;
    color: #ffb21c;

    .p-label {
      display: none;
    }

    .availability-amount {
      color: $color-grey;
      font-size: 13px;
      margin-top: 1px;
    }
  }

  .p-discount {
    flex: 0 0 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
    line-height: 1.1;
    color: #ec3f3f;

    .p-label {
      display: block;
    }

    span[data-testid="cartItemDiscount"] {
      font-weight: 700;
      display: block;
    }
  }

  .p-quantity {
    position: absolute;
    left: 70px + 10px + 10px;
    bottom: 0 + 10px;
    text-align: center;
    font-size: 16px;
    color: $color-black;

    span[data-testid="readonlyCartItemAmount"],
    .down-payment-name {
      border-radius: 19px;
      background-color: #fff;
      border: 1px solid $color-nav-element-background-hover;
      text-align: center;
      font-size: 16px;
      padding: 9px 34px;
      width: 95px;
      display: block;
      font-weight: 400;
    }

    .p-label {
      display: none;
    }

    label {
      margin-bottom: 0 !important;
    }
  }

  .p-price {
    display: flex;
    justify-content: flex-end;
    height: 50%;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    width: 130px;
    padding-bottom: 10px;
    padding-right: 10px;

    color: $color-grey;

    strong {
      font-weight: 400;
    }

    .price-final {
      display: inline-block;
      margin-right: 4px;
    }

    .p-label {
      display: none;
    }
  }

  .p-total {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-between;
    height: 50%;
    text-align: right;
    // flex: 0 0 120px;
    width: 130px;
    position: absolute;
    right: 0;
    top: 0;
    padding-top: 10px;
    padding-right: 10px;

    .p-label {
      display: none;
    }

    .price-final {
      color: $color-black;
    }

    .remove-item {
      background-color: transparent;
      border-radius: 0;
      box-shadow: none;
      border: 0;
      cursor: pointer;
      line-height: 1;
      display: flex;
      align-items: center;
      margin-top: -1px;

      &:hover::before {
        color: #ff3333;
      }

      &::before {
        content: '\f107';
        font-family: 'alfa';
        color: $color-grey;
        font-weight: 400;
        font-size: 14px;
      }

      .sr-only {
        display: none;
      }
    }
  }

  @media (max-width: 991px) {
    tbody {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      margin: -5px;
      width: calc(100% + 10px);

      .removeable {
        width: calc(100% / 3 - 10px);
        margin: 5px;
        flex-wrap: nowrap;
        height: auto;
        align-items: flex-start;
        flex-direction: column;
        padding-right: 10px;

        // &:nth-of-type(2n+1) {
        //   background-color: red !important;

        //   &.related-visible {
        //     @media (max-width: 600px) {
        //       width: calc(100% - 10px);
        //       background-color: red !important;
        //     }
        //   }
        // }

        >* {
          width: 100%;
        }

        .cart-p-image {
          flex: initial;

          >a {
            justify-content: center;
          }
        }

        .p-name {
          flex: initial;
          padding-left: 0;
          padding-bottom: 0;
          padding-top: 7px;
          padding-bottom: 7px;
          text-align: center;
          margin-bottom: auto;
        }

        .p-availability {
          flex: initial;
          padding: 0;
          text-align: center;
          justify-content: center;
          align-items: center;
          padding-bottom: 7px;
        }

        .p-price {
          position: initial;
          flex: initial;
          height: auto;
          text-align: center;
          justify-content: center;
          padding-bottom: 7px;
          align-items: center;
          order: 8;
          padding-bottom: 0;
          padding-right: 0;
        }

        .p-discount {
          height: auto;
          flex: initial;
          align-items: center;
          justify-content: flex-start;
          padding-right: 0;
          text-align: center;
          padding-bottom: 7px;
          min-height: 38px;
        }

        .p-quantity {
          flex: initial;
          position: initial;
          padding-bottom: 7px;

          .quantity {
            margin: auto;
            // max-width: none;
            // width: 100%;

            // label {
            //   width: 100%;
            // }

            // input {
            //   width: 100%;
            // }
          }
        }

        .p-total {
          flex: initial;
          align-items: center;
          text-align: center;
          height: auto;
          flex-direction: column;
          justify-content: flex-end;
          order: 9;
          font-size: 15px;
          padding-top: 0;
          padding-right: 0;
          position: initial;
          height: auto;

          .remove-item {
            position: absolute;
            right: 10px;
            top: 10px;
          }
        }
      }
    }
  }

  @media (max-width: 600px) {
    tbody .removeable {
      width: calc(100% / 2 - 10px);
    }
  }

  // @media (max-width: 360px) {
  //   tbody .removeable {
  //     width: calc(100% / 1 - 10px);
  //   }
  // }
}