@use "../Abstracts" as abs;

.ordering-process {
  .discount-coupon {
    form {
      display: flex;
      align-items: center;

      @media (max-width: 479px) {
        flex-direction: column;
        align-items: stretch;

        input {
          width: 100%;
        }

        .btn {
          width: 100%;
          margin-left: 0;
          margin-top: 5px;
        }
      }
    }

    input {
      border-radius: 150px;
      height: 45px;
      padding: 10px 20px;
    }

    .btn {
      height: 45px;
      margin-left: 5px;
    }

    .applied-coupon {
      margin-top: 5px;

      .btn {
        margin-left: 0;
        padding: 0;
        width: 32px;
        height: 32px;
        font-size: 16px;
        margin-top: 5px;

        @media (max-width: 479px) {
          margin-top: 5px;
        }
      }
    }
  }
}

.extra.delivery {
  color: #049b6e;
  font-size: 15px;
  line-height: 1.1;
  min-height: 42px;
  display: flex;
  align-items: center;

  padding-left: 48px;
  position: relative;

  &::before {
    content: '\f122';
    font-family: 'alfa';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 38px;
  }

  .price-range {
    width: 100%;
    height: 7px;
    background-color: #d9dde7;
    border-radius: 10px;
    position: relative;
    margin-top: 7px;
    max-width: 400px;

    >div {
      background-color: #049b6e;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      border-radius: 10px;
    }
  }
}

.cart-content {
  .cart-summary {
    margin-top: 10px;

    @media (max-width: 991px) {
      margin-top: 20px;
    }
  }

  .extras-wrapper {
    .extras-col {
      >* {
        margin-bottom: 15px;

        // @media (max-width: 479px) {
        //   margin-bottom: 10px;
        // }
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}