@use "../Abstracts" as abs;

.recapitulation-table {
  text-align: left;
  margin-bottom: 0;
}

.cart-table[data-testid="recapTable"] {
  tbody {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: -5px;
    width: calc(100% + 10px);

    tr[data-testid="recapItem"] {
      position: relative;
      margin: 5px;
      padding: 10px;
      border-radius: abs.$border-radius;
      border: 2px solid abs.$color-body-background;
      display: flex;
      align-items: flex-start;

      width: calc(100% / 3 - 10px);

      @media (max-width: 1199px) {
        width: calc(100% / 2 - 10px);
      }

      @media (max-width: 991px) {
        width: calc(100% - 10px);
      }

      @media (max-width: 479px) {
        width: calc(100% / 2 - 10px);
        flex-direction: column;
        align-items: center;
        text-align: center;
      }

      .p-name {
        padding-bottom: 0;
        padding-right: 130px + 10px;
        color: abs.$color-black;
        font-weight: 500;
        font-size: 15px;

        @media (max-width: 479px) {
          padding-right: 0;
          margin-bottom: 5px;
          padding-left: 0;
          margin-top: 5px;
        }
      }

      .p-quantity {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        height: 50%;
        position: absolute;
        right: 0;
        top: 0;
        text-align: right;
        width: 130px;
        left: initial;
        font-size: 14px;
        padding-right: 10px;
        padding-top: 10px;
        color: abs.$color-grey;

        @media (max-width: 479px) {
          position: initial;
          width: auto;
          height: auto;
          text-align: center;
          justify-content: center;
          align-items: center;
          padding-right: 0;
          padding-top: 0;
        }

        span {
          display: inline-block;
          margin: 0 3px;
        }

        strong {
          font-weight: 400;
        }
      }

      .p-price {
        color: abs.$color-black;
        font-weight: 600;
        font-size: 15px;

        @media (max-width: 479px) {
          position: initial;
          width: auto;
          height: auto;
          text-align: center;
          justify-content: center;
          align-items: center;
          padding-right: 0;
          padding-bottom: 0;
        }
      }
    }
  }
}

.recapitulation-wrapper:not([data-testid="recapTable"]) {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;

  >* {
    margin-top: 8px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.reca-number {
  margin-bottom: 8px !important;
}