@use "../variables" as *;

.cart-header {
  // counter-reset: step;
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  margin-bottom: 10px;
  width: 100%;

  $cart-nav-space: 10px;
  $cart-nav-space-mobile: 15px;

  border: 2px solid $color-body-background;
  border-radius: $border-radius;

  // &.step-0 {
  //   margin-bottom: 10px;
  // }

  &.step-1 {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  &.step-2 {
    @media (max-width: 767px) {
      margin-bottom: 0;
    }
  }

  @media (max-width: 479px) {
    .step {
      &:first-child>* {
        padding-left: 10px;
      }

      &:last-child>* {
        padding-right: 10px;
      }
    }
  }

  .step {
    width: calc(100% / 3);
    list-style-type: none;
    margin: 0;
    color: $color-grey;

    position: relative;

    text-align: center;

    &:not(:last-child) {
      &::after {
        content: '\f124';
        font-family: 'alfa';
        color: #e9ebf2;
        font-size: 34px;
        font-weight: 400;
        position: absolute;
        right: 0;
        top: 50%;
        width: $cart-nav-space;
        transform: translate(50%, -74%);
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 479px) {
          font-size: 26px;
          width: calc($cart-nav-space-mobile * 2);
        }

        @media (max-width: 400px) {
          transform: translate(50%, -145%);
        }
      }
    }

    &.step-1>*::before {
      content: '1';
    }

    &.step-2>*::before {
      content: '2';
    }

    &.step-3>*::before {
      content: '3';
    }

    &.completed>*::before {
      content: '\f123';
      font-family: 'alfa';
      font-weight: 400;
      font-size: 15px;
    }

    >*::before {
      // counter-increment: step;
      // content: counter(step);
      font-weight: bold;
      margin-bottom: 4px;
      border: 2px solid;
      border-radius: 100%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.active,
    &.completed {
      border-color: $color-body-background;
      color: $color-black;

      >* {
        font-weight: 600;
        color: $color-black;
      }
    }

    &.active>*::before {
      background-color: $color-black;
      border-color: $color-black;
      color: #fff;
    }

    >* {
      display: flex;
      text-decoration: none;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      padding: 10px $cart-nav-space;
      font-weight: 400;
      height: 100%;

      @media (max-width: 479px) {
        padding: 10px calc($cart-nav-space / 2 + 2px);

        font-size: 15px;
      }
    }

    >a {
      color: $color-grey;

      &:hover {
        color: $color-primary;
      }
    }
  }

  // @media (max-width: 320px) {
  //   margin: 0;
  //   margin-bottom: 10px;
  //   width: 100%;

  //   .step {
  //     width: 100%;
  //     margin: 0;
  //     margin-bottom: 5px;

  //     &:last-of-type {
  //       margin-bottom: 0;
  //     }

  //     >* {
  //       justify-content: center;
  //       padding: 10px;
  //       font-size: 15px;

  //       &::before {
  //         width: 26px;
  //         height: 26px;
  //       }
  //     }
  //   }
  // }
}