@use "../Abstracts" as abs;

/* Hlasování */
ul.poll {
  margin-bottom: 10px;

  li {
    margin-bottom: 10px;
  }

  .poll-result {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div {
      background-color: #fff;
      height: 10px;
      border-radius: 10px;

      &[style="width: 0%"] {
        border-left: 1px solid #fff;
      }
    }

    small {
      flex: 0 0 45px;
      text-align: right;
    }
  }
}

.sidebar ul.poll .poll-result>div {
  background-color: abs.$color-primary;

  &[style="width: 0%"] {
    border-left: 1px solid abs.$color-primary;
  }
}

/* Hlasování */

/* Kontakt box */
#footer .custom-footer__contact,
.sidebar .box-contact,
.sidebar-in-cart .contact-box,
#checkoutSidebar .contact-box,
.cart-empty .contact-box {
  strong {
    margin-bottom: 5px;
    display: block;
  }

  li {
    span {
      a {
        display: inline-block;
        position: relative;
        word-break: break-all;
        padding-left: 22px;

        @media (max-width: 600px) {
          justify-content: center;
        }

        &::before {
          font-family: 'alfa';
          width: 22px;
          height: 14px;
          display: block;
          color: #d3d3d3;
          position: absolute;
          left: 0;
          top: 0;
          transition-duration: .3s;
        }

        &:hover::before {
          color: #fff;
        }
      }

      &.mail a::before {
        content: '\f10d';
      }

      &.tel a::before,
      &.cellphone a::before {
        content: '\f110';
      }

      &.facebook a::before {
        content: '\f119';
      }

      &.twitter a::before {
        content: '\f11a';
      }

      &.instagram a::before {
        content: '\f11b';
      }

      &.messenger a::before {
        content: '\f11c';
      }

      &.whatsapp a::before {
        content: '\f11d';
      }

      &.youtube a::before {
        content: '\f11e';
      }

      &.tiktok a::before {
        content: '\f11f';
      }
    }
  }
}

.sidebar .box-contact {
  strong {
    font-size: 17px;
  }

  li span a {
    &:hover::before {
      color: abs.$color-black;
    }

    &::before {
      color: abs.$color-black;
    }
  }
}

.sidebar-in-cart .contact-box,
#checkoutSidebar .contact-box,
.cart-empty .contact-box {
  li {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 8px;

    &::before {
      content: none;
    }

    span a {
      color: abs.$color-black;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &:hover::before {
        color: abs.$color-black;
      }

      &::before {
        color: abs.$color-black;
      }
    }
  }
}

/* Kontakt box */

/* Newsletter */
#footer .custom-footer__newsletter,
.sidebar .box-newsletter {
  form {
    fieldset {
      border-style: none;
      display: flex;
      flex-wrap: wrap;
      width: 100%;

      >* {
        width: 100%;
      }

      .form-group {
        margin-top: 10px;

        a {
          text-decoration: underline;
          color: #fff;

          &:hover {
            color: #fff;
            text-decoration: none;
          }
        }
      }

      .btn {
        .sr-only {
          display: block;
        }

        width: 100%;
        margin-top: 10px;
        line-height: 1;
        height: 46px;

        cursor: pointer;

        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        color: abs.$color-black;
        text-align: center;
        border: 2px solid #fff;

        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
          content: '';
          height: 100%;
          width: 0;
          position: absolute;
          left: 0;
          top: 0;
          background-color: abs.$color-primary;
          border-radius: 150px;
          z-index: -1;
          transition-duration: .3s;
          transition-timing-function: ease-out;
        }

        &:hover {
          color: #fff;
          background-color: abs.$color-primary;
          transition: background-color ease 0.3s;

          &::after {
            width: 100%;
          }
        }
      }

      .validator-msg-holder {
        input {
          background-color: rgba($color: #fff, $alpha: .4);
          border-style: none;
          box-shadow: none;
          padding: 10px 25px;
          border-radius: 150px;
          font-size: 15px;
          width: 100%;
          height: 46px;
          text-align: center;

          color: #fff;

          &::placeholder {
            color: rgba($color: #fff, $alpha: .8);
          }
        }
      }

      >div:not(.validator-msg-holder) {
        order: 4;
        width: 100%;
      }
    }
  }
}

.sidebar .box-newsletter {
  form fieldset {
    .validator-msg-holder input {
      background-color: #fff;
      color: abs.$color-black;

      &::placeholder {
        color: rgba($color: abs.$color-black, $alpha: .5);
      }
    }

    .btn {
      background-color: abs.$color-primary;
      border-color: abs.$color-primary;
      color: #fff;

      &::after {
        content: none;
      }

      &:hover {
        background-color: abs.$color-secondary;
        border-color: abs.$color-secondary;
      }
    }

    .msg-error {
      text-align: center;
    }

    .form-group {
      font-size: 14px;
      text-align: center;

      a {
        color: abs.$color-primary;
        text-decoration: none;

        &:hover {
          color: abs.$color-secondary;
          text-decoration: underline;
        }
      }
    }
  }
}

/* Newsletter */

/* Login */
#footer .custom-footer__login,
.sidebar .box-login {
  input {
    width: 100%;
    background-color: #fff;
    border-color: #fff;
  }

  .input-wrapper {
    width: 100%;
  }

  a {
    text-decoration: underline;

    &:hover {
      text-decoration: none;
    }
  }

  .password-helper {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: 600px) {
      align-items: center;
    }

    a {
      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

/* Login */

/* Top 10 produktů */
#footer .custom-footer__topProducts,
.sidebar .box-topProducts {
  .top-products {
    counter-reset: top;

    li {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      &:last-of-type {
        margin-bottom: 0;
      }

      &::before {
        content: counter(top);
        counter-increment: top;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: abs.$color-primary;
        padding: 3px 4px;
        min-height: 24px;
        min-width: 24px;
        font-size: 14px;
        font-weight: 600;
        border-radius: 12px;
        color: #fff;
        margin-right: 5px;
      }

      .top-products-image {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 5px;
        width: 60px;
        max-width: 60px;
        min-width: 60px;

        img {
          width: 60px;
          height: auto;
          object-fit: cover;
          border-radius: abs.$border-radius;
        }

        &:hover+.top-products-content .top-products-name {
          text-decoration: underline;
        }
      }

      .top-products-content {
        text-decoration: none;
        display: flex;
        flex-direction: column;
        flex: auto;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;

        &:hover .top-products-name {
          text-decoration: underline;
        }

        .top-products-name {
          color: abs.$color-black;
          font-size: 16px;
          line-height: 1.1;
        }

        strong {
          margin-top: 4px;
          color: abs.$color-black;
          font-size: 15px;
        }
      }
    }
  }
}

#footer .custom-footer__topProducts {
  .top-products {
    padding-left: 0;

    li {
      &::before {
        padding: 5px 4px 1px 4px;
      }

      .top-products-content {
        strong {
          color: #fff;
        }

        .top-products-name {
          color: #fff;
          text-align: left;
        }
      }
    }
  }
}

/* Top 10 produktů */

/* Poslední hodnocení produktu */
.sidebar .box-productRating,
#footer .custom-footer__productRating {
  a {
    text-decoration: none;

    &:hover {
      text-decoration: none;

      .vote-product-name {
        text-decoration: underline;
      }
    }
  }

  .vote-header {
    display: flex;
    text-align: left;

    @media (max-width: 600px) {
      justify-content: center;
    }

    .vote-pic {
      display: flex;
      margin-right: 5px;
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .vote-summary {
      .vote-rating {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;

        .vote-delimeter {
          margin: 0 4px;
          color: abs.$color-grey;
          font-size: 14px;
        }

        .vote-name {
          color: abs.$color-grey;
          font-size: 14px;
          display: block;
          margin-top: 3px;
        }
      }

      .vote-product-name {
        color: abs.$color-black;
        display: block;
        font-size: 16px;
        line-height: 1.1;
        margin-bottom: 2px;
      }
    }
  }

  .vote-content {
    margin-top: 5px;
    color: abs.$color-black;
    font-weight: 400;
    line-height: 1.3;
    font-size: 15px;

    @media (max-width: 479px) {
      font-size: 14px;
    }
  }
}

#content-wrapper>.content-wrapper-in .sidebar .box-productRating {
  h4 {
    font-size: 20px;
  }
}

#footer .custom-footer__productRating {
  .vote-content {
    color: abs.$color-grey;
  }

  .vote-header .vote-summary .vote-product-name {
    color: #fff;
  }
}

/* Poslední hodnocení produktu */

/* Search */
.sidebar .box-search,
#footer .box-search {
  input {
    background-color: #fff;
    border-color: #fff;
  }
}

/* Search */

/* Payment methods */
.sidebar .box-onlinePayments .text-center {
  text-align: left;
}

#footer .custom-footer__onlinePayments {
  .text-center {
    text-align: left;

    @media (max-width: 600px) {
      text-align: center;
    }

    img {
      background-color: #fff;
      border-radius: 5px;
    }
  }
}

/* Payment methods */

/* Cart box */
#footer .box-cartButton,
.sidebar .box-cartButton {
  .btn-primary {
    color: #fff;
  }
}

.sidebar .box-cartButton {
  .btn-primary {
    color: #fff;
  }
}

/* Cart box */

/* Články */
.sidebar .news-item-widget {
  margin-bottom: 15px;

  &:last-of-type {
    margin-bottom: 0;
  }

  h5 {
    margin-bottom: 0;
  }

  time {
    font-size: 13px;
  }
}

/* Články */

/* Instagram */
.sidebar .box-instagram {
  .instagram-widget {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    margin: -2px;
    width: calc(100% + 4px);

    &.columns-3 {
      >a {
        width: calc(100% / 3 - 4px);
      }
    }

    &.columns-2 {
      >a {
        width: calc(100% / 2 - 4px);
      }
    }

    &.columns-1 {
      >a {
        width: calc(100% - 4px);
      }
    }

    >a {
      aspect-ratio: 1/1;
      width: calc(100% / 4 - 4px);
      margin: 2px;
      display: flex;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: block;
        background-color: #fff;
        opacity: 0;
        transition: opacity .3s ease-in;
      }

      &:hover::after {
        opacity: .3;
      }

      img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
      }
    }

    .instagram-follow-btn {
      width: calc(100% - 4px);
      margin: 2px;
      margin-top: -2px + 10px;

      a {
        background-color: abs.$color-primary;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 150px;
        color: #fff;
        font-weight: 700;
        line-height: 1.2;
        font-size: 15px;
        padding: 13.5px 35px;
        text-align: left;
        border: 2px solid abs.$color-primary;
        transition-duration: 0.3s;
        // position: relative;
        // z-index: 1;
        // overflow: hidden;

        &::before {
          content: "\f116";
          font-family: alfa;
          display: inline-block;
          font-size: 15px;
          margin-right: 5px;
          font-weight: 400;
          transition: color 0.3s ease-in-out;
        }

        // &::after {
        //   content: "";
        //   height: 100%;
        //   width: 0;
        //   position: absolute;
        //   left: 0;
        //   top: 0;
        //   background-color: abs.$color-black;
        //   border-radius: 150px;
        //   z-index: -1;
        //   transition-duration: 0.3s;
        //   transition-timing-function: ease-out;
        // }

        &:hover {
          color: #fff;
          background-color: abs.$color-secondary;
          transition: background-color ease 0.3s;

          // &::after {
          //   width: 100%;
          // }

          &::before {
            color: #fff;
          }
        }
      }
    }
  }
}

/* Instagram */