@use "../Abstracts" as abs;

.in-login {
  #content {
    form {
      @include abs.background;
      padding: 25px;
      border-radius: abs.$border-radius;

      @media (max-width: 767px) {
        padding: 15px;
      }

      // input {
      //   width: 250px;

      //   @media (max-width: 479px) {
      //     width: 100%;
      //   }
      // }

      .password-helper {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        a {
          color: abs.$color-black;
          text-decoration: none;
          margin-bottom: 2px;
          font-size: 15px;
          text-decoration: underline;

          &:last-of-type {
            margin-bottom: 0;
          }

          &:hover {
            color: abs.$color-primary;
            text-decoration: underline;
          }
        }
      }
    }
  }
}