@use "../Abstracts" as abs;

.homepage-box.welcome-wrapper {
  margin: abs.$large-gap 0;

  @media (min-width: 768px) {
    margin-bottom: 0;
  }

  @media (max-width: 991px) {
    margin-top: abs.$mobile-gap + 10px;
  }

  @media (max-width: 767px) {
    margin: abs.$mobile-gap 0;
  }

  .welcome-wrapper {
    border: 2px solid transparent;
    border-radius: abs.$border-radius;

    text-align: center;

    @include abs.background;

    padding: 20px;

    .welcome {
      >h1 {
        margin-bottom: 0;

        +div {
          margin-top: 10px;
        }
      }
    }

    div {
      line-height: 1.6;
      font-size: 16px;
      color: abs.$color-grey;
    }

    li {
      text-align: left;
    }
  }
}