@use "../variables" as *;

#formContact {
  @include background;
  padding: 25px;
  border-radius: $border-radius;
  margin-top: 10px;

  @media (max-width: 767px) {
    padding: 15px;
  }

  .form-group {
    flex-direction: column;
    align-items: flex-start;

    textarea {
      width: 100%;
    }
  }
}