@use "variables" as *;

.search {
  position: relative;

  fieldset {
    border-style: none;
    position: relative;

    input {
      width: 100%;
      height: 48px;

      border: 1px solid transparent;
      outline: none;

      border-radius: 24px;
      background-color: $color-nav-element-background;
      padding: 5px 54px 5px 20px;

      color: $color-black;
      font-size: 15px;
      font-weight: 400;

      transition-duration: .3s;

      &::-webkit-search-cancel-button,
      &::-webkit-search-decoration,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        -webkit-appearance: none;
        appearance: none;
        display: none;
      }

      &::placeholder {
        color: rgba($color: $color-black, $alpha: .5);
      }

      &:focus {
        border-color: $color-nav-element-background-hover;
      }
    }

    .btn {
      position: absolute;
      right: 2px;
      top: 2px;
      width: 48px - 4px;
      height: 48px - 4px;
      font-size: 0;
      padding: 0;
      line-height: 0;
      border-radius: 100%;
      background-color: transparent;
      border-style: none;
      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: center;

      transition-duration: .3s;

      border: 1px solid $color-nav-element-background;

      &::before {
        content: '\f111';
        font-family: 'alfa';
        font-size: 20px;
        color: $color-black;
        font-weight: 400;

        // @media (min-width: 768px) {
        //   color: #616171;
        //   transition: color .3s ease-in-out;
        // }
      }

      &:hover {
        background-color: $color-nav-element-background-hover;

        // @media (min-width: 768px) {
        //   &::before {
        //     color: $color-black;
        //   }
        // }
      }
    }

    .search-whisperer {
      display: none;
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      top: calc(100% - 1px);
      left: 0;
      width: 100%;
      max-height: calc(100vh - 32px - 68px - 100px); // Edit pro mobilní verzi
      background-color: #fff;

      overflow-y: auto;

      background-color: #fff;
      border: 2px solid $color-nav-element-background;
      border-radius: $border-radius;

      @media (max-width: 767px) {
        border-color: $color-nav-element-background-hover;
        border-width: 1px;
        max-height: calc(100vh - 32px - 68px - 60px - 50px - 100px); // Edit pro mobilní verzi
      }

      .search-whisperer-documents,
      .search-whisperer-products {
        display: flex;
        width: 100%;

        a {
          display: block;

          transition-duration: .3s;

          &:hover {
            background-color: $color-nav-element-background;
          }
        }
      }

      .search-whisperer-documents {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        padding: 5px;

        >div {
          border-bottom: 1px solid $color-nav-element-background;
          padding-bottom: 5px;

          &:last-of-type {
            border: 0;
            padding-bottom: 0;
          }
        }

        .search-whisperer-category-wrapper,
        .search-whisperer-other-wrapper {
          display: flex;
          flex-wrap: wrap;
          align-items: stretch;

          .search-whisperer-title {
            text-align: center;
            font-family: $poppins;
            font-size: 18px;
            line-height: 1.1;
            padding-top: 10px;
            font-weight: 600;
            flex: 1 1 calc(100% / 1 - 10px);

            @media (max-width: 767px) {
              padding-bottom: 2.5px;
            }
          }
        }

        &.search-whisperer-empty {
          padding: 12px 15px;
          color: $color-black;
          text-align: center;
          align-items: center;
          font-size: 15px;
          background-color: #fff;
        }

        a {
          text-decoration: none;
          color: $color-black;
          padding: 8px 15px;
          background-color: #fff;
          line-height: 1.1;

          width: calc(100% / 4 - 10px);
          min-width: 0;

          border-bottom: 1px solid $color-nav-element-background;

          border: 0;
          background-color: $color-nav-element-background;
          margin: 5px;
          min-height: 60px;
          border-radius: 4px;

          @media (max-width: 1439px) {
            width: calc(100% / 3 - 10px);
          }

          @media (max-width: 1199px) {
            width: calc(100% / 2 - 10px);
          }

          @media (max-width: 991px) {
            width: calc(100% / 1 - 10px);
          }

          @media (max-width: 767px) {
            width: calc(100% / 2 - 10px);
            margin: 2.5px 5px;
          }

          @media (max-width: 479px) {
            width: calc(100% / 1 - 10px);
          }

          &.search-whisperer-category {
            display: flex;
            align-items: center;

            &::before {
              content: '\f106';
              font-family: 'alfa';
              color: #ff9435;
              font-size: 18px;
              margin-right: 5px;
              font-weight: 400;
            }
          }

          &.search-whisperer-document:not(.search-whisperer-category) {
            display: flex;
            align-items: center;

            em {
              display: inline-block;
              // margin-right: 5px;
              font-style: italic;
              color: #2b6cb1;
              margin-right: 4px;

              &:empty {
                display: none;
              }
            }
          }

          &:hover {
            background-color: $color-nav-element-background-hover;
          }

          &:last-of-type {
            border: 0;
          }
        }
      }

      .search-whisperer-products {
        flex-direction: column;
        align-items: flex-start;

        +.search-whisperer-documents {
          border-top: 1px solid $color-nav-element-background;
        }

        >li {
          width: 100%;

          &:first-of-type {
            >a {
              padding-top: 12px;
            }
          }

          &:last-of-type {
            >a {
              padding-bottom: 12px;
              border: 0;
            }
          }

          >a {
            padding: 8px 8px;
            border-bottom: 1px solid $color-nav-element-background;
            background-color: #fff;
            width: 100%;

            display: flex;
            align-items: center;

            text-decoration: none;

            .search-whisperer-image {
              flex: 0 0 60px;
              margin-right: 10px;

              img {
                border-radius: 4px;
                width: 60px;
              }
            }

            .p-info {
              display: flex;
              flex-direction: column;
              align-items: flex-start;

              flex: 1 1 auto;
              min-width: 0;

              .p-name {
                color: $color-black;
                line-height: 1.1;
                font-weight: 400;
                font-size: 16px;
              }

              .p-availability {
                font-size: 14px;
                font-weight: 400;
                line-height: 1.1;
                margin-top: 2px;
                color: $color-grey;
              }
            }

            .price {
              margin-left: auto;
              line-height: 1.1;
              color: $color-black;
              font-size: 15px;
              flex: 0 1 90px;
              text-align: right;
              font-weight: 600;
            }
          }
        }
      }

      &.active {
        display: flex;
      }
    }
  }
}