@use "Abstracts" as abs;
@use 'Main';
@use 'Fonts';
@use 'User-action';
@use 'Header';
@use 'Content-hp';
@use 'Category-page';
@use 'Detail-page';
@use 'News';
@use 'Footer';
@use 'Rating';
@use 'Registration';
@use 'Client';
@use 'Cart';
@use 'Others';
@use 'Type-page';
@use 'Addons';

.custom-style-panel {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 20px;
  border-radius: abs.$border-radius;
  @include abs.background;
  z-index: 999;

  display: flex;
  flex-direction: column;

  label {
    margin-bottom: 10px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .color-inputs {
    display: flex;
    flex-direction: column;
  }
}