@use "../variables" as *;

.languagesMenu {
  @media (max-width: 767px) {
    display: none;
  }

  .languagesMenu__flags {
    display: none;
  }

  .languagesMenu__content {
    display: flex;
    align-items: stretch;

    .languagesMenu__box {
      position: relative;

      .languagesMenu__header {
        margin-bottom: -1px;
        margin-top: 1px;

        cursor: pointer;
        display: flex;
        align-items: center;
        color: #72727d;
        font-size: 14px;
        padding: 7px 10px 5px 10px;
        border-radius: 16px;
        margin: 3px 0;
        text-decoration: none;
        transition-duration: .3s;

        &.languagesMenu__header--name {
          display: none;
        }

        .caret {
          margin-left: 4px;

          &::before {
            content: '\f113';
            font-family: 'alfa';
            font-size: 9px;
            display: block;
            transition: transform .2s ease-in-out;
          }
        }

        &:hover {
          background-color: $color-nav-element-background-hover;
          color: $color-black;
        }
      }

      &.open {
        .languagesMenu__header {
          border-radius: 16px 16px 16px 0;
          background-color: $color-nav-element-background-hover;
          color: $color-black;

          .caret::before {
            transform: rotate(-180deg);
          }
        }

        .languagesMenu__list {
          display: block;
        }
      }
    }

    .languagesMenu__list {
      display: none;
      left: 0;
      top: calc(100% - 3px);
      position: absolute;
      z-index: 9999;
      max-width: 130px;
      @include background;
      border-radius: 0 $border-radius $border-radius $border-radius;
      border: 2px solid $color-nav-element-background-hover;
      padding: 5px;

      .languagesMenu__list__link {
        display: flex;
        align-items: center;
        padding: 5px 10px;
        width: 100%;
        border-radius: 5px;
        text-decoration: none;
        line-height: 1.1;
        font-size: 14px;
        font-weight: 500;
        color: $color-black;

        &:hover {
          background-color: $color-nav-element-background-hover;
        }

        .shp-flag {
          margin-right: 5px;
          min-width: 24px;
        }
      }
    }
  }
}