@use "../variables" as *;

@media (max-width: 767px) {
  body.navigation-window-visible {
    overflow: hidden;

    .top-navigation-bar {
      top: 0 !important;
      position: fixed;
      z-index: 999;
    }

    #header {
      position: fixed;
      z-index: 998;
      top: 0;

      #navigation {
        transform: none;
      }
    }

    .top-navigation-bar .container .responsive-tools a[data-target=navigation]::before {
      content: '\f107';
      font-size: 24px;
    }
  }

  body #header #navigation .menu-level-1>li:first-of-type>a {
    margin: 0;
  }

  body #header #navigation {
    transform: translateX(-100%);
    transition-duration: .3s;
    height: calc(100vh - 60px);

    overflow: auto;

    position: absolute;
    background-color: #fff;
    width: calc(100% + $page-side-padding-mobile * 2);

    top: 60px;
    bottom: 0;
    left: -$page-side-padding-mobile;
    right: -$page-side-padding-mobile;

    border-top: 1px solid $color-nav-element-background;

    .navigation-in {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;

      >ul {
        flex: 0 0 auto;
      }

      &::after {
        content: '';
        width: 100%;
        min-height: 150px;
        flex: 1 0 auto;
        display: block;
        background-color: #f2f6fa;
      }
    }

    .navigationActions {
      border-top: 2px solid $color-nav-element-background;

      a {
        padding: 9.415px $page-side-padding-mobile 9.415px $page-side-padding-mobile;
        width: 100%;
        text-align: left;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        line-height: 1.2;
        white-space: initial;
        transition: color 0.3s ease-in-out, padding 0.3s ease-in-out;
        font-weight: 600;
        color: $color-black;
        text-decoration: none;
        font-family: $poppins;
      }

      .navigationActions__flagWrapper {
        display: flex;
        align-items: center;
      }

      .ext {
        >a .shp-flag {
          margin-left: 5px;
        }

        .navigationActions__link--flag .shp-flag {
          margin-right: 5px;
        }
      }

      .ext {
        >a {
          padding: 9.415px 45px 9.415px 12px;
        }

        .submenu-arrow {
          position: absolute;
          right: 0;
          top: 0;
          margin: 0;
          width: 42px;
          height: 100%;
          padding-right: 12px;
          display: flex;
          align-items: center;
          justify-content: center;

          &::after {
            content: "\f10e";
            font-size: 12px;
            color: #0f0f0f;
            margin-top: -1px;
            transform: rotate(90deg);
            font-family: "alfa";
            transition: color 0.3s ease-in-out;
          }
        }

        .menu-level-2 {
          display: none;

          ul {
            border-top: 2px solid #f5f6f8;

            li {
              &:first-of-type {
                >a {
                  padding-top: 15px;
                }
              }

              &:last-of-type {
                >a {
                  padding-bottom: 15px;
                }
              }
            }

            &:last-of-type {
              border-bottom: 2px solid #f5f6f8;
            }
          }

          a {
            padding-left: 20px;
          }
        }

        &.exp {
          .menu-level-2 {
            display: flex;
            flex-direction: column;
            align-items: stretch;
          }
        }
      }
    }

    .menu-level-1 {
      flex-direction: column;

      >li {
        width: 100%;

        // &:last-of-type {
        //   padding-bottom: 50px;
        // }

        &.splitted {
          display: block;
        }

        &.exp>a>.submenu-arrow {
          transform: none;
        }

        &.ext>a {
          padding: 9.415px 45px 9.415px $page-side-padding-mobile;
        }

        >a {
          width: 100%;
          text-align: left;
          padding: 9.415px $page-side-padding-mobile;
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          line-height: 1.2;

          white-space: initial;

          transition: color .3s ease-in-out, padding .3s ease-in-out;

          &::before {
            content: none;
          }

          .submenu-arrow {
            position: absolute;
            right: 0;
            top: 0;
            margin: 0;
            width: 30px + $page-side-padding-mobile;
            height: 100%;
            padding-right: $page-side-padding-mobile;

            display: flex;
            align-items: center;
            justify-content: center;

            &::after {
              content: '\f10e';
              font-size: 12px;
              color: $color-black;
              margin-top: -1px;
              transform: rotate(90deg);
              font-family: 'alfa';
              transition: color .3s ease-in-out;
            }
          }
        }

        >ul {
          pointer-events: initial;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          flex-wrap: nowrap;
          position: absolute;
          left: 0;
          top: 39px;
          width: 100%;
          padding: 0;
          border: 0;
          border-radius: 0;
          transform: translateX(-100%);
          z-index: 1;
          height: calc(100% - 40px);
          background-color: #fff;

          display: none;

          &::before {
            content: none;
          }

          >li {
            width: 100%;

            &:hover {
              background-color: transparent;
            }

            .menu-image {
              display: none;
            }

            >div {
              padding: 0;

              .menu-level-3 {
                display: none;
              }

              >a {
                width: 100%;
                font-weight: 600;
                text-align: left;
                padding: 9.415px $page-side-padding-mobile;
                font-size: 16px;
                font-family: $poppins;
                display: flex;
                align-items: center;
                justify-content: flex-start;
                line-height: 1.2;

                &::before {
                  content: none;
                }
              }
            }

            >a:not(.menu-image) {
              width: 100%;
              font-weight: 600;
              text-align: left;
              padding: 9.415px $page-side-padding-mobile;

              font-size: 16px;
              min-height: auto;
              height: auto;
              justify-content: flex-start;
              line-height: 1.2;
            }

            &:first-of-type>div>a,
            &:first-of-type>a:not(.menu-image) {
              padding: calc(9.415px + 8px) $page-side-padding-mobile 9.415px $page-side-padding-mobile;
            }
          }
        }

        &.exp {
          order: -1;

          position: absolute;
          background-color: #fff;
          z-index: 1;
          height: 100%;

          >a {
            color: #848891;

            padding: 9.415px $page-side-padding-mobile 9.415px 33px;

            border-bottom: 1px solid $color-nav-element-background;

            .submenu-arrow {
              padding-right: 0;
              padding-left: $page-side-padding-mobile;
              width: 100%;
              right: initial;
              left: 0;

              &::after {
                color: #848891;
                margin-right: auto;

                transform: rotate(180deg);
              }
            }
          }

          >ul {
            transform: none;
          }
        }
      }
    }
  }

  body.submenu-visible-custom #header #navigation {
    overflow: initial;

    .menu-level-1>li {
      >a {
        transition: color .3s ease-in-out;
      }

      >ul {
        overflow: auto;

        display: flex;
        flex-direction: column;
        align-items: stretch;

        >li {
          flex: 0 0 auto;
        }

        &::after {
          content: '';
          width: 100%;
          flex: 1 0 auto;
          min-height: 150px;
          display: block;
          background-color: #f2f6fa;
        }
      }
    }
  }
}