@use "../variables" as *;

@media (max-width: 767px) {
  body {

    .top-navigation-bar .container .top-navigation-menu,
    #header .header-top .navigation-buttons .cart-count .cart-price {
      display: none;
    }

    #header .header-top .navigation-buttons {
      display: flex;
      align-items: center;
    }

    &.search-window-visible {
      #header .header-top .search {
        opacity: 1;
        pointer-events: initial;
        transition: opacity .3s ease-in-out;
      }
    }

    #header .header-top .search {
      opacity: 0;
      pointer-events: none;
      transition: none;

      display: flex;

      padding: 0 $page-side-padding-mobile;
      position: absolute;
      bottom: 0;
      left: -$page-side-padding-mobile;
      width: calc(100% + $page-side-padding-mobile * 2);
      height: 78px;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      transform: translateY(100%);
      border-top: 1px solid $color-nav-element-background;

      form {
        width: 100%;
      }
    }

    &.type-detail #header+.breadcrumbs-wrapper {
      padding-top: 60px + $page-side-padding-mobile;
    }

    #header {
      background-color: #fff;

      margin-bottom: -60px;

      +#content-wrapper {
        padding-top: calc($page-side-padding-mobile + 60px);
      }

      +.breadcrumbs-wrapper {
        padding-top: 60px + 15px;
      }

      &::before {
        content: none;
      }

      .header-top {
        padding-top: 10px;
        padding-bottom: 10px;

        .navigation-buttons .cart-count {
          width: 40px;
          height: 40px;
          padding: 0;
          justify-content: center;

          // margin-left: calc(40px * 2 + 10px * 3);
          margin-left: 95px;

          .sr-only {
            justify-content: center;
          }

          i {
            right: -6px;
            top: -6px;
          }
        }

        .site-name-wrapper {
          margin-right: auto;
          margin-left: 40px + 10px;
          flex: 1;

          .site-name>a img {
            max-height: 40px;
            max-width: 100%;
          }
        }
      }

      .menu-helper {
        display: none;
      }
    }

    .site-msg:not(.site-msg-visible)+.user-action+.top-navigation-bar .container {
      padding-right: 17px;
    }

    .top-navigation-bar {
      .container {
        justify-content: center;

        .top-navigation-contacts a {
          padding: 6px 0;
          margin-left: 9px;
          margin-right: 9px;

          &:hover {
            background-color: transparent;
          }
        }

        .responsive-tools {
          a[data-target="search"] {
            position: absolute;
            // right: calc(40px * 2 + 10px * 2 + 9px);
            right: 90px + 9px;
            bottom: -40px - 10px;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: $color-nav-element-background;

            transition-duration: .3s;

            &:hover {
              background-color: $color-nav-element-background-hover;
            }

            &::before {
              content: '\f111';
              font-family: "alfa";
              font-size: 18px;
              color: $color-black;
              font-weight: 400;
            }
          }

          a[data-target="navigation"] {
            position: absolute;
            left: 9px;
            bottom: -40px - 10px;
            width: 40px;
            height: 40px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            background-color: $color-nav-element-background;

            transition-duration: .3s;

            &:hover {
              background-color: $color-nav-element-background-hover;
            }

            &::before {
              content: '\f10c';
              font-family: 'alfa';
              font-size: 18px;
              color: $color-black;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              cursor: pointer;
              font-weight: 400;
            }
          }
        }

        .top-navigation-tools {
          display: none;
        }

        // .top-navigation-tools .top-nav-button-login,
        // .top-navigation-tools .top-nav-button-account {
        //   width: 40px;
        //   height: 40px;

        //   // right: 40px + 10px + 9px;
        //   right: 45px + 9px;
        //   bottom: -40px - 10px;
        // }
      }

      &.top-loaded .container .top-navigation-tools {
        display: block;
      }
    }
  }

  body.search-window-visible .top-navigation-bar .container .responsive-tools a[data-target=search]::before {
    content: '\f107';
    font-size: 24px;
  }

  body.ordering-process .top-navigation-bar .container .responsive-tools a[data-target=search] {
    right: 54px;
  }

  body.ordering-process .top-navigation-bar .container .top-navigation-tools .top-nav-button-login,
  body.ordering-process .top-navigation-bar .container .top-navigation-tools .top-nav-button-account {
    right: 9px;
  }

  body .top-navigation-bar .container .top-navigation-tools .top-nav-button-login,
  body .top-navigation-bar .container .top-navigation-tools .top-nav-button-account {
    font-size: 0;
    line-height: 0;
    width: 40px;
    height: 40px;
    border-radius: 24px;
    border: 2px solid transparent;
    margin-left: 10px;
    position: absolute;
    right: 9px + 40px + 5px;
    top: auto;
    bottom: -40px - 10px;

    background-color: $color-nav-element-background;

    display: flex;
    align-items: center;
    justify-content: center;

    text-decoration: none;

    transition-duration: .3s;

    &::before {
      content: '\f114';
      font-family: 'alfa';
      color: $color-black;
      font-weight: 400;
      font-size: 18px;
    }

    &:hover {
      background-color: $color-nav-element-background-hover;
    }
  }

  body.login-window-visible .top-navigation-bar .container .top-navigation-tools .top-nav-button-login::before,
  body.login-window-visible .top-navigation-bar .container .top-navigation-tools .top-nav-button-account::before {
    content: '\f107';
    font-size: 24px;
  }

  body.ordering-process .top-navigation-bar .container .top-navigation-tools .top-nav-button-login,
  body.ordering-process .top-navigation-bar .container .top-navigation-tools .top-nav-button-account {
    right: 9px;
  }
}

// @media (max-width: 420px) {

//   body .top-navigation-bar .container .top-navigation-tools .top-nav-button-login,
//   body .top-navigation-bar .container .top-navigation-tools .top-nav-button-account {
//     right: 45px + 9px;
//   }

//   body .top-navigation-bar .container .responsive-tools a[data-target=search] {
//     right: 90px + 9px;
//   }

//   body #header .header-top .navigation-buttons .cart-count {
//     margin-left: 100px;
//   }
// }