@use "../Abstracts" as abs;

.type-detail {
  .p-gifts-wrapper {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -2.5px;
    width: calc(100% + 5px);

    margin-bottom: 10px - 2.5px;

    .p-gifts-heading {
      font-size: 15px;
      margin: 2.5px;
      margin-bottom: 4px - 2.5px;
      font-weight: 600;
      color: abs.$color-black;
      width: 100%;
    }

    .p-gift {
      display: flex;
      align-items: center;
      border: 2px solid abs.$color-body-background;
      border-radius: abs.$border-radius;
      padding: 5px;

      margin: 2.5px;
      width: calc(100% / 2 - 5px);

      @media (max-width: 1199px) {
        width: calc(100% - 5px);
      }

      @media (max-width: 767px) {
        width: calc(100% / 2 - 5px);
      }

      @media (max-width: 479px) {
        width: calc(100% - 5px);
      }

      .p-gift-image {
        position: relative;
        min-width: 60px;
        display: flex;

        &:hover+.p-gift-name a {
          text-decoration: underline;
        }

        >img {
          width: 60px;
          height: 60px;
          object-fit: contain;
          object-position: center left;
        }
      }

      .p-gift-name {
        a {
          padding-left: 10px;
          font-size: 15px;
          text-decoration: none;
          color: abs.$color-black;
          display: inline-block;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
}