@use "../Abstracts" as abs;

#cboxLoadedContent {
  text-align: center;
}

#formProductQuestion .submit-wrapper {
  justify-content: center;
}

.type-detail {
  .p-detail-inner>.p-detail-inner-header {
    display: none;
  }

  h1 {
    margin-bottom: 5px;
  }

  .product-top {
    display: flex;
    align-items: flex-start;

    position: relative;

    padding: 30px;
    border-radius: abs.$border-radius;
    @include abs.background;

    margin-bottom: 20px;

    @media (max-width: 767px) {
      flex-direction: column;
      align-items: stretch;
      padding: 20px;
    }

    >div {
      opacity: 0;
      transition: opacity .3s;

      &.col-xs-12:not(.p-image-wrapper):not(.p-info-wrapper) {
        display: none;
      }
    }

    &::before {
      content: '';
      width: 65px;
      height: 65px;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      position: absolute;
      display: block;
      border: 6px solid transparent;
      border-top: 6px solid abs.$color-black;
      border-right: 6px solid transparent;
      box-sizing: border-box;
      animation: rotation 1s linear infinite;
      z-index: 1;
    }

    &::after {
      content: '';
      width: 65px;
      height: 65px;
      box-sizing: border-box;
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      border-radius: 50%;
      border: 6px solid transparent;
      border-bottom: 6px solid abs.$color-black;
      border-left: 6px solid transparent;
      animation: rotation 1s linear infinite;
      z-index: 1;
    }

    @keyframes rotation {
      0% {
        transform: translate(-50%, calc(-50% - 15px / 2)) rotate(0deg);
      }

      100% {
        transform: translate(-50%, calc(-50% - 15px / 2)) rotate(360deg);
      }
    }

    &.loaded-state {
      >div {
        opacity: 1;
      }

      &::before,
      &::after {
        content: none;
      }
    }

    &:not(.loaded-state) {
      max-height: 70vh;
    }

    .p-image-wrapper {
      width: 50%;
      padding-right: 15px;

      @media (max-width: 767px) {
        width: 100%;
        padding-right: 0;
        padding-bottom: 15px;
      }

      .p-thumbnails-wrapper {
        margin-top: 10px;

        .p-thumbnails {
          height: 100px;
          margin-bottom: 10px;
          overflow: hidden;
          position: relative;
          width: 100%;

          .p-thumbnails-inner {
            height: 100px;
            left: 0;
            position: absolute;
            top: 0;
            transition: left .3s ease-out;
            width: 9999em;

            >div {
              display: inline-block;
              height: 100%;

              .p-thumbnail {
                float: left;
                // margin-left: -1px;
                max-width: 100%;
                position: relative;
                margin-right: 5px;
                height: 100%;
                width: 100px;
                display: block;
                border-radius: abs.$border-radius;

                border: 2px solid transparent;

                img {
                  object-fit: cover;
                  object-position: center;

                  transition: opacity .3s ease-in-out;
                }

                &.highlighted {
                  border-color: abs.$color-primary;
                }

                &:hover img {
                  opacity: .7;
                }

                &:nth-last-of-type(2) {
                  margin-right: 0;
                }
              }
            }
          }
        }
      }

      .p-thumbnails .thumbnail-next {
        right: 0;
      }

      .p-thumbnails .thumbnail-next,
      .p-thumbnails .thumbnail-prev {
        line-height: 1;
        opacity: 0;
        position: absolute;
        text-align: center;
        display: flex;
        align-items: center;
        text-decoration: none;
        top: 0;
        // transform: scale(0);
        pointer-events: none;
        transition: opacity .3s ease-out;
        z-index: 2;

        width: 40px;
        height: 100%;

        &:hover {
          &::after {
            background-color: abs.$color-primary;
            color: #fff;
          }
        }

        &::after {
          content: '\f113';
          font-family: 'alfa';
          @include abs.background;
          box-shadow: 0 0 12px rgba(0, 0, 0, 0.08);
          border-radius: 150px;
          font-size: 14px;
          font-weight: 400;
          width: 30px;
          height: 30px;
          color: abs.$color-black;
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(-90deg);

          transition: background-color .3s ease-in-out, color .3s ease-in-out;
        }
      }

      .p-thumbnails .thumbnail-next {
        justify-content: flex-start;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.07) 50%, rgba(0, 0, 0, 0.07) 100%);
        border-top-right-radius: abs.$border-radius;
        border-bottom-right-radius: abs.$border-radius;
      }

      .p-thumbnails .thumbnail-prev {
        justify-content: flex-end;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.07) 0%, rgba(0, 0, 0, 0.07) 50%, rgba(0, 0, 0, 0) 100%);
        border-top-left-radius: abs.$border-radius;
        border-bottom-left-radius: abs.$border-radius;

        &::after {
          transform: rotate(90deg);
        }
      }

      .p-thumbnails.overflow-next .thumbnail-next {
        opacity: 1;
        // transform: scale(1);
        pointer-events: initial;
      }

      .p-thumbnails.overflow-prev .thumbnail-prev {
        opacity: 1;
        // transform: scale(1);
        pointer-events: initial;
      }

      .p-image {
        position: relative;
        border-radius: 10px;
        overflow: hidden;

        .flags-extra {
          z-index: 1;
          position: absolute;
          right: 20px;
          bottom: 20px;

          display: flex;
          flex-direction: column;
          align-items: flex-end;

          @media (max-width: 1199px) {
            right: 10px;
            bottom: 10px;
          }

          .flag {
            display: flex;
            align-items: center;
            margin-bottom: 4px;
            padding: 8px 10px;
            border-radius: 100px;
            font-size: 16px;
            font-weight: 500;

            @media (max-width: 479px) {
              font-size: 13px;
            }

            &:last-of-type {
              margin-bottom: 0;
            }

            &.flag-freeshipping {
              color: #009fff;
              background-color: #e2f4ff;
              font-weight: 400;
              padding-top: 4.715px;
              padding-bottom: 4.715px;

              .sr-only {
                display: none;
              }

              &::before {
                content: '\f118';
                font-family: 'alfa';
                margin-right: 4px;
                font-size: 22px;
                position: relative;
                top: -2px;

                @media (max-width: 479px) {
                  font-size: 19px;
                  top: -1px;
                }
              }
            }

            &.flag-discount {
              background-color: #fcf3f4;
              color: red;

              .price-standard {
                display: none;
              }
            }
          }
        }
      }
    }

    .p-info-wrapper {
      flex: 1;
      padding-left: 15px;

      @media (max-width: 767px) {
        padding-left: 0;
      }

      .flags {
        margin-bottom: 5px;
      }

      .p-code {
        font-size: 14px;
        color: abs.$color-grey;
        margin-bottom: 5px;
        display: inline-block;
      }

      .p-detail-info {
        margin-bottom: 5px;

        a[data-testid="productCardBrandName"] {
          font-size: 14px;
          margin-top: 3px;
          color: abs.$color-grey;
          text-decoration: none;

          &:hover {
            color: abs.$color-primary;
            text-decoration: underline;
          }
        }
      }

      .stars-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .stars {
          margin-right: 5px;
          margin-bottom: 4px;
        }

        .stars-label {
          font-size: 15px;
          margin-bottom: 4px;
          color: abs.$color-grey;
          text-decoration: none;

          &:hover {
            color: abs.$color-primary;
            text-decoration: underline;
          }
        }

        a {
          text-decoration: none;
        }
      }

      .p-final-price-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 15px;
        margin-bottom: 15px;

        .price-standard {
          color: abs.$color-grey;
          text-decoration: line-through;
          font-size: 16px;
          font-weight: 400;
        }

        .price-save {
          display: none;

          +.price-final {
            color: #ec3f3f;
          }
        }

        .price-final {
          font-weight: 700;
          font-size: 28px;
          color: abs.$color-black;

          .pr-list-unit {
            margin-left: 4px;
            margin-bottom: -1px;
            font-size: 16px;
            font-weight: 400;
          }
        }

        .price-additional {
          color: abs.$color-grey;
          font-size: 15px;
          font-weight: 400;
        }
      }

      .availability-value {
        font-weight: 600;
        margin-bottom: 10px;

        .availability-amount {
          color: abs.$color-grey;
          font-size: 15px;
          font-weight: 400;
        }
      }

      .detail-parameters {
        margin-bottom: 10px;

        text-align: left;
        width: 100%;
        margin-top: 15px;

        tbody>tr {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          color: abs.$color-black;

          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }

          select {
            height: 42px;
            padding-left: 15px;
          }

          >th {
            font-size: 15px;
          }

          >td {
            margin-top: 2px;
            width: 100%;

            .hidden-split-parameter:not(select) {
              display: flex;
              align-items: stretch;
              flex-wrap: wrap;
              width: calc(100% + 2px);
              margin-left: -2px;

              input {
                display: none;
              }

              .advanced-parameter {
                .parameter-value {
                  display: none;
                }

                .advanced-parameter-inner {
                  margin: 2px;
                  width: 50px;
                  height: 50px;
                  border: 1px solid #c4cad5;
                  min-width: 40px;
                  border-radius: 100%;
                  display: block;
                  cursor: pointer;

                  border: 2px solid #c4cad5;
                  border-radius: 10px;
                  outline: 2px solid transparent;
                  outline-offset: -4px;

                  transition: outline-color 0.3s ease-out, border-color 0.3s ease-out;

                  &:hover {
                    border-color: abs.$color-black;
                    outline-color: #fff;
                  }

                  &.yes-before {
                    position: relative;
                    outline-color: #fff;
                    border-color: abs.$color-black;

                    &::after {
                      content: '\f123';
                      font-family: 'alfa';
                      background-color: #fff;
                      position: absolute;
                      border-radius: 150px;
                      left: 50%;
                      top: 50%;
                      transform: translate(-50%, -50%);
                      width: 22px;
                      height: 22px;
                      display: flex;
                      align-items: center;
                      justify-content: center;
                      font-size: 13px;
                      font-weight: 600;
                    }
                  }
                }
              }
            }
          }
        }
      }

      #choose-variant {
        margin-bottom: 15px;
      }

      .add-to-cart {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap-reverse;
        flex-direction: row-reverse;
        margin-bottom: 15px;

        .btn {
          height: 45px;
          margin-right: 5px;
        }

        .quantity input {
          height: 45px;
          border-radius: calc(45px / 2);
        }

        @media (max-width: 380px) {
          // flex-direction: column;
          // align-items: center;
          // flex-wrap: nowrap;

          .btn {
            // margin-right: 0;
            // text-align: center;
            padding-left: 10px;
            padding-right: 10px;
            flex: 1;
          }

          // .quantity {
          //   margin-bottom: 4px;
          //   max-width: none;
          //   text-align: center;

          //   label {
          //     width: 100%;
          //   }
          // }
        }
      }

      .xyDiscount__banner {
        padding: 10px;
        border-radius: abs.$border-radius;
        border: 2px solid abs.$color-body-background;
        margin-bottom: 10px;

        font-size: 14px;

        display: flex;
        align-items: center;

        .xyDiscount__icon.icon-gift {
          width: 30px;
          min-width: 30px;
          height: 30px;
          background-color: var(--xy-discount-banner-color);
          border-radius: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 7px;
          margin-bottom: auto;

          &::before {
            content: '\f127';
            font-family: 'alfa';
            color: #fff;
            font-size: 16px;
          }
        }

        .xyDiscount__title {
          font-size: 15px;
          color: var(--xy-discount-banner-color);
          font-weight: 500;
        }

        .xyDiscount__description {
          margin-top: 1px;
          line-height: 1.3;
        }
      }

      .p-short-description {
        margin-top: 10px;
        margin-bottom: 15px;
        color: abs.$color-grey;
        line-height: 1.3;
        font-size: 16px;
      }

      p[data-testid="productCardDescr"] {
        margin-top: -15px + 3px;
        margin-bottom: 15px;
        font-size: 16px;
      }

      .social-buttons-wrapper {
        margin-top: 15px;

        .link-icons {
          display: flex;
          align-items: stretch;
          flex-wrap: wrap;

          .link-icon {
            padding: 15px;
            color: abs.$color-grey;
            text-decoration: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 15px;

            @media (max-width: 767px) {
              padding: 10px;
            }

            &:hover {
              color: abs.$color-primary;

              span {
                text-decoration: underline;
              }
            }

            &.print {
              display: none;
            }

            &.chat,
            &.watchdog,
            &.share {
              &::before {
                font-family: 'alfa';
                font-size: 23px;
                text-decoration: none;
                margin-bottom: 3px;
                height: 26px;
              }
            }

            &.chat::before {
              content: '\f128';
            }

            &.watchdog::before {
              content: '\f12a';
            }

            &.share::before {
              content: '\f129';
              font-size: 21px;
            }
          }
        }
      }

      .social-buttons {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        >* {
          margin-right: 5px;
          margin-top: 4px;

          &.close-wrapper {
            margin-right: 0;
            margin-top: 6px;
            width: 100%;
          }
        }
      }
    }
  }
}

.mobile {
  &.type-detail .product-top .p-image-wrapper .p-thumbnails-wrapper .p-thumbnails .p-thumbnails-inner>div .p-thumbnail:hover img {
    opacity: 1;
  }
}