@use "../Abstracts" as abs;

.quantity-discounts {
  margin-bottom: 10px;
  margin-top: 15px;

  .quantity-discounts__headline {
    font-size: 15px;
    margin-bottom: 4px;
    font-weight: 600;
  }

  .quantity-discounts__table {
    .quantity-discounts__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 8px;
      border: 2px solid abs.$color-grey-light;
      padding: 10px;

      font-size: 15px;
      color: abs.$color-grey;

      &:first-of-type {
        border-top-left-radius: abs.$border-radius;
        border-top-right-radius: abs.$border-radius;
      }

      &:last-of-type {
        border-bottom-left-radius: abs.$border-radius;
        border-bottom-right-radius: abs.$border-radius;
      }

      &:not(:last-of-type) {
        border-bottom-width: 0;
      }

      &.quantity-discounts__item--highlighted {
        border-color: abs.$color-conversion;
        border-bottom-width: 2px;
        font-weight: 600;
        color: abs.$color-black;
        position: relative;
        z-index: 1;

        &::before {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: abs.$color-conversion;
          opacity: .1;
          z-index: -1;
        }

        +.quantity-discounts__item {
          border-top-width: 0;
        }
      }
    }
  }

  .quantity-discounts__save {
    text-align: right;
    padding: 7px 10px 5px 10px;
    font-size: 15px;
  }
}