@use "../Abstracts" as abs;

.shp-tabs-wrapper {
  margin-top: 40px;
}

.tab-content>.tab-pane {
  display: none;

  &.active {
    display: block !important;
  }
}

.shp-tabs-row {
  display: flex;
  justify-content: space-between;
  position: relative;

  @include abs.background;
  border-radius: abs.$border-radius;

  border: 4px solid #fff;

  li {
    padding: 0;
    margin: 0;

    &::before {
      content: none;
    }

    >a {
      display: block;
    }
  }

  .shp-tabs-holder {
    width: 100%;
    overflow: hidden;

    #p-detail-tabs {
      display: flex;
      align-items: center;

      li {
        &.active>a {
          font-weight: 700;
        }

        >a {
          padding: 11px 25px;
          border-radius: abs.$border-radius;
          text-decoration: none;
          font-size: 16px;
          transition: background-color .3s ease-in-out;
          color: abs.$color-black;
          white-space: nowrap;

          &:hover {
            background-color: abs.$color-body-background;
          }
        }
      }
    }
  }

  .navigation-btn {
    position: relative;
    background-color: transparent;

    transition: background-color .3s ease-in-out;
    border-radius: abs.$border-radius;
    border: 0;
    box-shadow: none;
    font-size: 0;
    line-height: 0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;

    &::before {
      content: '\f10c';
      font-family: 'alfa';
      color: abs.$color-black;
      line-height: 1.1;
      font-size: 16px;
    }

    &:hover {
      background-color: abs.$color-body-background;
    }
  }

  .hidden-links {
    opacity: 1;
    pointer-events: initial;
    transition: opacity .3s ease-in-out;
    position: absolute;
    top: calc(100% + 4px);
    right: 0;
    @include abs.background;
    border-radius: abs.$border-radius;
    overflow: hidden;
    max-width: 280px;
    border: 4px solid #fff;
    z-index: 2;

    &.hidden {
      opacity: 0;
      pointer-events: none;
    }

    a {
      padding: 10px;
      border-radius: abs.$border-radius;
      font-size: 15px;
      text-decoration: none;
      color: abs.$color-black;

      &:hover {
        background-color: abs.$color-body-background;
      }
    }
  }
}

#tab-content {
  >* {
    margin-top: 15px;
  }

  #productsAlternative {
    margin-top: 15px;
  }

  #productDiscussion {
    margin-top: 15px;
  }

  #description {
    margin-top: 20px;

    .description-inner {
      display: flex;
      align-items: flex-start;

      @media (max-width: 1199px) {
        flex-direction: column;
        align-items: stretch;
      }

      .basic-description {
        @include abs.background;
        padding: 15px;
        border-radius: abs.$border-radius;
        flex: 1;
        line-height: 1.4;
        color: abs.$color-grey;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
          line-height: 1.1;
          color: abs.$color-black
        }
      }

      .extended-description {
        @include abs.background;
        padding: 15px;
        border-radius: abs.$border-radius;
        flex: 0 0 420px;
        margin-left: 20px;

        @media (max-width: 1199px) {
          flex: initial;
          margin-left: 0;
          margin-top: 15px;
        }

        .detail-parameters {
          width: 100%;

          tr {
            text-align: left;
            font-size: 15px;

            &:nth-of-type(odd) {
              background-color: abs.$color-body-background;
            }

            th,
            td {
              padding: 10px;
              color: abs.$color-black;

              a {
                color: abs.$color-primary;
                text-decoration: none;

                &:hover {
                  color: abs.$color-primary;
                  text-decoration: underline;
                }
              }
            }

            th {
              font-weight: 700;

              border-top-left-radius: abs.$border-radius;
              border-bottom-left-radius: abs.$border-radius;
            }

            td {
              font-weight: 400;

              border-top-right-radius: abs.$border-radius;
              border-bottom-right-radius: abs.$border-radius;
            }
          }
        }
      }
    }
  }

  #variants {
    .table-row {
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: abs.$border-radius;
      @include abs.background;
      margin-bottom: 10px;

      @media (max-width: 767px) {
        flex-wrap: wrap;
      }

      @media (max-width: 500px) {
        flex-direction: column;
        text-align: center;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      .variant-name-wrapper {
        flex: 1;
        font-size: 15px;

        @media (max-width: 767px) {
          flex: initial;
          width: 100%;
        }

        .variant-name {
          margin-bottom: 3px;
          font-weight: 500;
          color: abs.$color-black;
        }
      }

      .standard-price-wrap {
        font-size: 15px;
        text-decoration: line-through;
        color: #ec3f3f;
        padding-left: 10px;

        @media (max-width: 500px) {
          padding-left: 0;
        }
      }

      .price {
        padding-left: 10px;
        text-align: right;

        @media (max-width: 767px) {
          padding-left: 0;
        }

        @media (max-width: 500px) {
          text-align: center;
          margin-top: 7px;
        }

        .price-final {
          font-weight: 700;
          font-size: 16px;

          .pr-list-unit {
            font-weight: 400;
            font-size: 14px;
          }
        }

        .price-additional {
          font-size: 14px;
          margin-top: 1px;
          color: abs.$color-grey;
        }
      }

      .cart {
        padding-left: 10px;

        @media (max-width: 767px) {
          flex: 1;
        }

        @media (max-width: 500px) {
          flex: initial;
          width: 100%;
          padding-left: 0;
          padding-top: 5px;
        }

        fieldset {
          display: flex;
          align-items: center;
          justify-content: flex-end;

          @media (max-width: 500px) {
            justify-content: center;
          }

          .quantity {
            input {
              height: 45px;
              border-radius: 5px;
              border-top-right-radius: 0;
              border-bottom-right-radius: 0;
            }
          }

          .btn {
            height: 45px;
            border-radius: 5px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
          }
        }
      }
    }
  }

  #relatedFiles,
  #productVideos {
    padding: 15px;
    @include abs.background;
    border-radius: abs.$border-radius;
  }

  #productVideos {
    iframe {
      border-radius: abs.$border-radius;
    }
  }

  #ratingTab {
    a {
      text-decoration: none;
    }

    p[data-testid="textCommentNotice"]+#ratingWrapper>.rate-wrap {
      display: none;

      +#rate-form {
        margin-left: 0;
      }
    }
  }

  #productDiscussion {
    padding: 15px;
    @include abs.background;
    border-radius: abs.$border-radius;

    p[data-testid="textCommentNotice"] {
      margin-bottom: 15px;
    }

    .sr-only {
      display: none;
    }

    #discussionsList {
      margin-top: 15px;

      .vote-wrap {
        margin-bottom: 10px;
        padding-bottom: 10px;

        border-bottom: 1px solid abs.$color-grey-light;

        &:last-of-type {
          border-bottom: 0;
          padding-bottom: 0;
          margin-bottom: 0;
        }

        .votes-wrap {
          margin-top: 10px;
          padding-left: 20px;
        }

        .add-comment {
          margin-top: 10px;
        }

        .vote-title {
          font-size: 16px;
          font-weight: 500;
        }

        .vote-name {
          font-size: 15px;
          color: abs.$color-grey;
        }
      }

      .vote-content {
        #discussion-form {
          margin-top: 10px;
          margin-bottom: 30px;
        }
      }
    }

    .comment-icon {
      border-radius: 150px;
      border-style: none;
      cursor: pointer;
      display: inline-block;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.2;
      padding: 14px 25px;
      text-align: center;

      background-color: abs.$color-primary;
      color: #fff;
      font-family: abs.$poppins;

      transition-duration: .3s;

      &:hover {
        background-color: abs.$color-secondary;
      }
    }

    textarea,
    input {
      width: 350px;

      @media (max-width: 479px) {
        width: 100%;
      }
    }
  }
}