@use "../Abstracts" as abs;

.shipping-options-popup {
  container-type: inline-size; // totéž co container: inline-size
  container-name: shipping; // volitelné, ale pěkné
}

@container shipping (width > 27em) {
  .shipping-options-popup .payment-info {
    flex-basis: calc(100% - 100px - 7.2em);
  }

  .shipping-options-popup .payment-logo {
    flex-basis: 80px;
    order: unset;
    text-align: right;
  }
}

body {

  #cboxOverlay,
  #cboxWrapper,
  #colorbox {
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1002;
  }

  #cboxOverlay {
    height: 100%;
    position: fixed;
    width: 100%;
  }

  #cboxContent,
  #cboxOverlay,
  #cboxTitle {
    background-color: var(--colors-surface-primary);
  }

  #cboxLoadedContent {
    -webkit-overflow-scrolling: touch;
    overflow: auto;
  }

  #cboxContent,
  #cboxLoadedContent,
  #colorbox {
    box-sizing: content-box;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
  }

  #colorbox {
    outline: 0;
  }

  #cboxWrapper {
    max-width: none;
  }

  #cboxBottomLeft,
  #cboxMiddleLeft {
    clear: left;
  }

  #cboxContent {
    position: relative;
  }

  #cboxContent {
    margin-top: 32px;
    overflow: visible;
  }

  #cboxContent,
  .cboxIframe {
    background: #fff;
  }

  #cboxContent {
    border-style: solid;
    border-width: 1px;
  }

  #cboxContent,
  #cboxOverlay,
  #cboxTitle {
    background-color: var(--colors-surface-primary);
  }

  #cboxContent.cookiesDialog {
    background-color: #f8fafb;
    border-radius: 8px;
  }

  #cboxLoadedContent {
    padding: 1px;
  }


  #cboxTitle {
    margin: 0;
  }

  #cboxTitle {
    color: #000;
    left: 0;
  }

  #cboxCurrent,
  #cboxTitle {
    position: absolute;
    top: -22px;
  }

  #cboxCurrent {
    right: 205px;
    text-indent: -9999px;
  }

  #cboxCurrent,
  #cboxTitle {
    display: none !important;
  }

  #cboxContent,
  #cboxOverlay,
  #cboxTitle {
    background-color: var(--colors-surface-primary);
  }

  #cboxClose,
  #cboxNext,
  #cboxPrevious,
  #cboxSlideshow {
    cursor: pointer;
  }

  #cboxClose,
  #cboxNext,
  #cboxPrevious,
  #cboxSlideshow {
    background: none;
    border: 0;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    text-indent: -9999px;
  }

  #cboxNext,
  #cboxPrevious {
    height: 100%;
    outline: none;
    top: 0;
    width: 50%;
    text-indent: initial;
    font-size: 0;
    line-height: 0;

    @media (min-width: 768px) {
      &:hover::before {
        background-color: abs.$color-primary;
        color: #fff;
      }
    }

    &::before {
      content: '\f103';
      font-family: 'alfa';
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 50%;
      transform: translateY(-50%);
      left: 15px;
      font-size: 14px;
      line-height: 1;
      color: abs.$color-black;

      border-radius: 100%;
      width: 35px;
      height: 35px;
      @include abs.background;

      @media (min-width: 768px) {
        transition: background-color .3s ease-out, color .3s ease-out;
        width: 46px;
        height: 46px;
        left: 20px;
        font-size: 16px;
      }
    }
  }

  #cboxNext {
    right: 0;

    &::before {
      content: '\f104';
      left: auto;
      right: 15px;

      @media (min-width: 768px) {
        width: 46px;
        height: 46px;
        right: 20px;
        left: auto;
      }
    }
  }

  #cboxLoadingGraphic,
  #cboxLoadingOverlay {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  #cboxLoadingOverlay {
    background: #fff;
  }

  #cboxClose {
    background-color: transparent !important;
    height: 40px;
    right: 10px;
    top: 0;
    width: 40px;
    z-index: 99;

    &:hover {
      &::before {
        color: #ff2020;
      }
    }
  }

  .cookiesDialog #cboxClose {
    background-color: transparent !important;
    border-radius: 8px;
  }

  #cboxClose:before {
    speak: none;
    display: inline-block;
    font-family: 'alfa';
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    text-decoration: none;
    text-transform: none;
    vertical-align: middle;
    content: '\f107';
    font-size: 26px;
    left: 10px;
    line-height: 40px;
    position: absolute;
    text-indent: 0;
    top: 0;
    transition: color .3s ease-in-out;
  }

  .colorbox-html-content {
    padding: 20px;
  }

  .cookiesSetting__form {
    padding: 10px;
  }

  .cookiesSetting__title {
    color: #000;
    font-size: 22px;
    font-weight: 700;
    line-height: 34px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .cookiesSetting__perex {
    color: #000;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 19px;
  }

  .cookiesSetting__data {
    background-color: #fff;
    border: 1px solid #e5e8ea;
    border-radius: 4px;
    padding: 0 20px;
  }

  .cookiesSetting__item {
    border-bottom: 1px solid #e5e8ea;
    padding: 10px 0;

    @media (min-width: 768px) {
      align-items: flex-start;
      display: flex;
      justify-content: space-between;
      text-align: left;
    }
  }

  .cookiesSetting__item__name {
    color: #000;
    font-size: 16px;
    line-height: 24px;
  }

  .cookiesSetting__item__text {
    color: #000;
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 10px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    .cookiesSetting__item__col2 {
      margin-left: 10px;
    }
  }

  #cboxContent {
    border-color: var(--colors-foregrounds-borders-secondary);
    border-radius: abs.$border-radius;
  }

  .cookiesSetting__item__status {
    border: 1px solid #e5e8ea;
    border-radius: 8px;
    display: block;
    font-size: 16px;
    margin: 20px 0;
    padding: 10px 20px 10px 35px;
    text-align: center;
    white-space: nowrap;
    width: 100%;

    @media (min-width: 768px) {
      margin: 0;
      padding: 10px 15px;
    }

    &:hover {
      background: #f8fafb;
      border: 1px solid #e5e8ea;
      color: #252525;
    }
  }

  #cboxContent {
    p {
      margin-bottom: 15px;
    }

    label {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        justify-content: center;
      }
    }

    input[type=checkbox]+label,
    input[type=radio]+label {
      display: inline-block;
      line-height: 20px;
      // margin-right: 15px;
      // padding-left: 0;
      position: relative;
    }
  }

  // .cookiesSetting__item .cookiesSetting__item__status .cookiesSetting__item__state {
  //   padding-left: 40px;
  // }

  .cookiesSetting__bottom {
    text-align: center;

    @media (min-width: 768px) {
      align-items: flex-start;
      display: flex;
      margin-top: 20px;
      text-align: left;
    }
  }

  .cookiesSetting__uncheck {
    display: block;
    margin: 10px 0;

    @media (min-width: 768px) {
      flex: 1;
      margin: 0;
    }
  }

  .cookiesSetting__uncheckLink {
    background-color: transparent;
    border: 2px solid #11111f;
    border-radius: 4px;
    color: #11111f;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 44px;
    padding: 0 15px;
    text-align: center;
    text-decoration: none;
    width: 100%;

    @media (min-width: 768px) {
      display: inline-block;
      text-align: left;
      width: auto;
    }
  }

  .cookiesSetting__uncheckLink:hover {
    background: #e5e8ea;
    color: #383742;
  }

  .cookiesSetting__button {
    border: 0;
    border-radius: 4px;
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 48px;
    padding: 0 15px;
    width: 100%;

    @media (min-width: 768px) {
      display: inline-block;
      width: auto;
    }
  }

  .cookiesSetting__button,
  .cookiesSetting__button:hover {
    background-color: #11111f;
    color: #fff;
  }

  .cookiesSetting__button--green {
    background-color: #007c47;
    margin-top: 10px;

    @media (min-width: 768px) {
      margin-left: 15px;
      margin-top: 0;
    }
  }

  @media (min-width: 768px) {
    .cookiesSetting__button:hover {
      opacity: .9;
    }
  }

  .cookiesSetting__button--green:hover {
    background-color: #007c47;
    color: #fff;
  }

  .content-modal {
    padding: 10px;
    padding-top: 30px;

    @media (min-width: 1200px) {
      padding: 20px;
      padding-top: 30px;
    }
  }

  .shipping-options-popup .shipping-row {
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    flex-wrap: wrap;
    gap: 5px 10px;
    justify-content: space-between;
    line-height: 1.3;
    padding: 15px 0;
  }

  .shipping-row:not(:has(.payment-logo)) .payment-info {
    flex-basis: auto;
    max-width: calc(100% - 10px - 7.2em);
  }

  .payment-info {
    text-align: left;
    flex: 1 1 auto;
    max-width: calc(100% - 10px - 7.2em);
  }

  .for-free {
    color: var(--colors-state-success);
  }

  .payment-shipping-price {
    flex: 1 0 7.2em;
    text-align: right;
  }

  .payment-logo {
    flex: 0 0 100%;
    order: 1;
    text-align: left;
  }

  .payment-logo img {
    max-height: 40px;
    max-width: 80px;
  }

  .shipping-options-popup .extra.delivery {
    margin-top: 20px;
  }

  #cboxContent {
    @media (min-width: 480px) {

      .form-group>input.form-control,
      .form-group>select.form-control {
        width: 217px;
      }
    }

    @media (min-width: 480px) {
      .form-group label {
        float: left;
        margin-bottom: 0;
        padding-right: 20px;
        width: 175px;
      }
    }

    .form-control {
      display: block;
      width: 100%;
    }

    .form-group {
      flex-wrap: wrap;

      label {
        margin-bottom: 5px;
        margin-top: 5px;

        &[class="whole-width"] {
          display: inline-block;
          width: 100%;
          padding-left: 0;
          padding-right: 0;
          font-size: 15px;
        }
      }
    }
  }
}