@use "../Abstracts" as abs;

.type-category #content {
  width: 100%;
}

.empty-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  min-height: calc(100vh - 160px);

  @media (min-width: 768px) {
    min-height: calc(100vh - 350px);
  }

  h2 {
    color: abs.$color-grey;
    margin-top: -5px;
  }

  &.empty-content-category {
    min-height: calc(100vh - 280px);

    h2 {
      font-size: 32px;
    }

    @media (min-width: 768px) {
      min-height: calc(100vh - 500px);
    }
  }
}