@use "../Abstracts" as abs;

@media (min-width: 992px) {
  .sidebar+#content {
    .category-top {
      .products-top {
        .product {
          width: calc(100% / 3 - 15px);

          &:nth-child(n + 4) {
            display: none;
          }

          @media (max-width: 1439px) {
            width: calc(100% / 2 - 15px);

            &:nth-child(n + 3) {
              display: none;
            }
          }

          @media (max-width: 1199px) {
            width: calc(100% - 15px);

            &:nth-child(n + 3) {
              display: none;
            }
          }
        }
      }
    }
  }
}

.category-top {
  .products-top-wrapper {
    h2 {
      margin: 30px 0 10px 0;
      font-size: 24px;
    }

    .products-top {
      display: flex;
      flex-wrap: wrap;
      margin: -7.5px;
      width: calc(100% + 15px);

      .product {
        margin: 7.5px;
        @include abs.background;
        border-radius: abs.$border-radius;

        transition-duration: .3s;

        width: calc(100% / 4 - 15px);

        &:nth-child(n + 5) {
          display: none;
        }

        @media (max-width: 1439px) {
          width: calc(100% / 3 - 15px);

          &:nth-child(n + 4) {
            display: none;
          }
        }

        @media (max-width: 1099px) {
          width: calc(100% / 2 - 15px);

          &:nth-child(n + 3) {
            display: none;
          }
        }

        @media (max-width: 767px) {
          width: calc(100% / 1 - 15px);
        }

        .p {
          display: flex;
          height: 100%;
          position: relative;

          a.image {
            padding: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            width: 120px;
            height: 120px;

            position: relative;
            text-decoration: none;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
            }

            .extra-flags {
              .flags-extra {
                position: absolute;
                right: 10px;
                bottom: 10px;

                display: flex;
                flex-direction: column;
                align-items: flex-end;

                .flag-discount {
                  padding: 3px 5px;
                  border-radius: 100px;
                  font-size: 13px;
                  font-weight: 500;
                  background-color: #fcf3f4;
                  color: #ff2020;

                  .price-standard {
                    display: none;
                  }

                  .price-save {
                    white-space: nowrap;
                  }
                }
              }
            }
          }

          .p-in {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;

            flex: 1;
            min-width: 0;

            .p-code {
              display: none;
            }

            a.name {
              padding: 10px 10px 0 0;
              margin-bottom: 5px;
              display: block;
              color: abs.$color-black;
              text-decoration: none;
              font-size: 16px;
              font-weight: 400;
              line-height: 1.1;
              // font-family: abs.$poppins;

              &:hover {
                text-decoration: underline;
              }

              &::after {
                content: '';
                top: 0;
                left: 0;
                border-radius: abs.$border-radius;
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                z-index: 1;
              }
            }

            .p-bottom {
              margin-left: auto;
            }

            .prices {
              margin: 10px 10px 10px 0;
              text-align: right;
              color: abs.$color-black;

              .price-additional {
                margin-top: 1px;
                color: #B2B2B2;
                line-height: 1.1;
                font-weight: 400;
                font-size: 14px;
                margin-bottom: 4px;
              }

              b {
                font-weight: 600;
              }

              .price-standard-wrapper {
                text-align: right;
                text-decoration: line-through;
                font-size: 14px;
                line-height: 1.1;
                color: abs.$color-grey;

                &.price-standard-wrapper-placeholder {
                  display: none;
                }

                .price-standard-label {
                  display: none;
                }
              }

              .price-save {
                display: none;

                +.price-final {
                  color: #ec3f3f;
                }
              }
            }

            .availability {
              font-size: 14px;
              padding-right: 10px;
              color: abs.$color-grey;

              span[style="color:#009901"] {
                color: #31B61B !important;
              }

              span {
                color: #ffb21c;
              }

              .availability-amount {
                display: none;
              }
            }
          }
        }
      }
    }

    .button-wrapper {
      display: flex;
      display: none;

      width: calc(100% - 20px);
      margin: auto;
      justify-content: center;

      .toggle-top-products {
        background-color: #d9dde7;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border-radius: 150px;
        color: abs.$color-black;
        font-weight: 700;
        line-height: 1.2;
        font-size: 14px;
        padding: 13.5px 20px;
        text-align: center;
        transition-duration: 0.3s;
        margin-top: 10px;

        transition-duration: .3s;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &::after {
          content: '';
          height: 100%;
          width: 0;
          position: absolute;
          left: 0;
          top: 0;
          background-color: abs.$color-primary;
          border-radius: 150px;
          z-index: -1;
          transition-duration: .3s;
          transition-timing-function: ease-out;
        }

        &:hover {
          color: #fff;
          background-color: abs.$color-primary;
          transition:
            color 0.3s ease,
            background-color 0.3s ease 0.3s;

          &::after {
            width: 100%;
          }
        }
      }
    }
  }
}