@use "../Abstracts" as abs;

.listingControls {
  .sr-only {
    display: none;
  }

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  margin-top: 30px;
  margin-bottom: 10px;

  li {
    padding-left: 0;

    &::before {
      content: none;
    }
  }

  >* {
    width: calc(100% / 3);

    @media (max-width: 1199px) {
      width: 100%;
    }

    &.itemsTotal {
      width: 100%;
      text-align: center;
      font-size: 14px;
      margin-top: 10px;
    }

    &.goToTop {
      order: -1;

      display: flex;
      justify-content: flex-start;
      align-items: center;

      @media (max-width: 1199px) {
        justify-content: center;
        order: initial;
        margin-top: 15px;
      }

      .goToTop__button {
        display: inline-block;

        &::before {
          content: '\f112';
          display: inline-block;
          font-family: 'alfa';
          margin-right: 6px;
          font-size: 11px;
          font-weight: 100;
          transform: rotate(180deg);
        }
      }
    }

    &.loadMore {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &.pagination {
      flex: 1;

      display: flex;
      align-items: center;
      justify-content: flex-end;

      @media (max-width: 1199px) {
        justify-content: center;
        margin-top: 10px;
      }

      .pagination__list {
        display: flex;
        align-items: center;
      }
    }
  }

  .btn {
    min-width: 45px;
    height: 45px;
  }

  .pagination__link--last,
  .pagination__currentPage,
  .pagination__link--first {
    min-width: 45px;
    height: 45px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
  }


  .pagination__link {
    display: flex;
    align-items: center;
    justify-content: center;

    &:not(.btn) {
      color: abs.$color-primary;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    &.btn {
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '\f112';
        display: inline-block;
        font-family: 'alfa';
        font-size: 11px;
        font-weight: 100;
        transform: rotate(-90deg);
      }

      &.pagination__link--prev::before {
        transform: rotate(90deg);
      }
    }
  }
}