@use "../variables" as *;

.category-title {
  margin: 0 0 20px 0;
  font-size: 38px;
  font-weight: 700;
  color: $color-black;

  @media (max-width: 991px) {
    margin-top: 10px;
    font-size: 32px;
    margin-bottom: 15px;
  }

  .pagination-appendix {
    font-size: 28px;
    color: $color-grey;
  }
}

.category-perex,
.category__secondDescription {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.6;
  color: $color-black;
}

.category-perex {
  margin-top: -10px;
}

.category__secondDescription {
  margin-top: $small-gap;
  margin-bottom: 30px;
}