@use "../Abstracts" as abs;

body.template-11 {

  #dkLabFavHeaderWrapper .dkLabFavHeaderIconBtn,
  #dkLabComparerHeaderWrappper .dkLabComparerHeaderIconBtn {
    text-decoration: none;
    top: 0;

    &::before {
      margin: 0 0 0 10px;
      background-color: #f5f6f8;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 48px;
      height: 48px;
      border-radius: 24px;
      border: 2px solid transparent;
      font-weight: 500;
    }

    em {
      top: -2px;
      right: -4px;
    }
  }

  .dkLabFavouriteProductDiv.onlyIcon,
  .dkLabComparerProductDiv.onlyIcon {
    top: 27px;
  }

  .dkLabFavouriteProductDiv:not(.onlyIcon),
  .dkLabComparerProductDiv:not(.onlyIcon) {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    text-align: center;
    margin-top: -2px;
  }
}

#dkLabFavListsDialog {
  .dkLabManageListsWrapper {
    text-align: left;
  }

  .dkLabFavManageAddListWrapper {

    #dkLabFavManageAddNewListInput,
    #dkLabFavManageAddNewListText {
      &.hidden {
        display: none;
      }
    }
  }
}

body .product .dkLabComparerProductDiv.onlyIcon+.dkLabFavouriteProductDiv.onlyIcon {
  right: 36px;
}

@media (max-width: 767px) {

  // Odebral jsem z body :not(.mobile-header-version-0) EDIT
  body.template-11 #header .navigation-buttons #dkLabFavHeaderWrapper,
  body.template-11 #header #dkLabComparerHeaderWrappper {
    transform: none !important;
    position: initial;

    .dkLabFavHeaderIconBtn::before,
    .dkLabComparerHeaderIconBtn::before {
      width: 40px;
      height: 40px;
      font-size: 19px;
      margin-left: 5px;
    }
  }
}

body #dkLabFavouritePageMenu>li {
  margin-bottom: 0;

  &.active {
    border-bottom-color: #f3f5f8;
  }
}

body.template-11.inDklabFavourites .products-block {
  .p-tools {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .quantity {
    margin-bottom: 5px;

    input {
      border-radius: 50px;
      width: 100% !important;
      height: 44.8px !important;

      @media (max-width: 479px) {
        height: 36.8px !important;
        font-size: 14px;
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }
}