@font-face {
  font-family: 'Nunito Sans';
  src: url('https://cdn.myshoptet.com/usr/640084.myshoptet.com/user/documents/Code/Alfa/fonts/NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900; // Variable weight range
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nunito Sans';
  src: url('https://cdn.myshoptet.com/usr/640084.myshoptet.com/user/documents/Code/Alfa/fonts/NunitoSans-Italic-VariableFont_YTLC,opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}