@font-face {
  font-family: "alfa";
  src:
    url("/src/assets/fonts/alfa.woff2") format("woff2"),
    url("/src/assets/fonts/alfa.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}