@use "../Abstracts" as abs;

.container {
  margin-left: auto;
  margin-right: auto;

  max-width: 1530px + abs.$page-side-padding * 2;
  // padding-left: abs.$page-side-padding;
  // padding-right: abs.$page-side-padding;
  padding: 0;

  width: calc(100% - abs.$page-side-padding * 2);

  @media (max-width: 991px) {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - abs.$page-side-padding-tablet * 2);
  }

  @media (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    width: calc(100% - abs.$page-side-padding-mobile * 2);
  }
}