:root {
  --colors-surface-primary: #fff;
  --colors-surface-secondary: #f6f6f6;
  --colors-surface-tertiary: #ccc;
  --colors-surface-disabled: #d1d1d1;
  --colors-surface-overlay: #ffffffa6;
  --colors-surface-white: #fff;
  --colors-surface-rating: #b87800;
  --colors-focus-primary: #09367e;
  --colors-focus-secondary: #fff;
  --colors-foregrounds-headlines-primary: #1f1f1f;
  --colors-foregrounds-content-primary: #1f1f1f;
  --colors-foregrounds-content-secondary: #4d4d4d;
  --colors-foregrounds-content-tertiary: #767676;
  --colors-foregrounds-content-inverted: #fff;
  --colors-foregrounds-icons-primary: #7b7575;
  --colors-foregrounds-borders-primary: #919191;
  --colors-foregrounds-borders-secondary: #dadada;
  --colors-forms-background: #fff;
  --colors-forms-border: #919191;
  --colors-forms-activated: #3f7e88;
  --colors-forms-informative: #3531ff;
  --colors-forms-positive: #2a5c0a;
  --colors-forms-warning: #c75300;
  --colors-forms-critical: #d33a36;
  --colors-forms-disabled: #ebebeb;
  --colors-state-danger: #d33a36;
  --colors-state-warning: #c75300;
  --colors-state-informative: #3531ff;
  --colors-state-success: #3c840f;
  --colors-tags-green: #3c840f;
  --colors-tags-pink: #d34343;
  --colors-tags-red: #d00000;
  --colors-tags-yellow: #ffc702;
  --colors-tags-blue: #086df7;
  --colors-tags-turquoise: #008392;
  --scroll-offset: var(--scroll-offset-override, var(--scroll-offset-runtime, 0px));
  --scroll-extra-offset: 0px;
}