@use "../Abstracts" as abs;

body::after {
  content: '';
  display: block;
  background-color: rgba($color: #000000, $alpha: .7);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 98;
  opacity: 0;
  pointer-events: none;

  transition-duration: .3s;
}

.cart-window-visible-custom {
  &::after {
    opacity: 1;
    pointer-events: auto;
    cursor: pointer;
  }

  .cart-widget {
    transform: none;
  }

  @media (max-width: 767px) {
    overflow: hidden;
  }
}

.cart-widget {
  // display: none;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: 500px;
  @include abs.background;
  overflow-y: auto;

  transform: translateX(100%);

  transition-duration: .3s;
  transition-timing-function: ease-in;

  @media (max-width: 767px) {
    width: 100%;
  }

  .cart-window-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 35px 15px 35px;
    border-bottom: 1px solid abs.$color-nav-element-background-hover;
    background-color: #fff;
    position: sticky;
    top: 0;
    z-index: 2;

    @media (max-width: 479px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    h4 {
      margin: 0;
      font-family: abs.$poppins;
      font-weight: 600;
      font-size: 22px;
      line-height: 1.1;
    }

    .cart-window-close {
      cursor: pointer;
      margin-left: 10px;

      &::before {
        content: "\f107";
        font-size: 27px;
        font-family: "alfa";
        color: abs.$color-black;
        font-weight: 400;
        transition: color .3s ease-in-out;
      }

      &:hover::before {
        color: #ff2020;
      }
    }
  }

  &.cart-empty-custom .popup-widget-inner .loader-overlay {
    display: none;
  }

  .popup-widget-inner {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;

    .loader-overlay {
      height: 150px;
      position: relative;

      &::before {
        content: '';
        width: 65px;
        height: 65px;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        position: absolute;
        display: block;
        border: 6px solid transparent;
        border-top: 6px solid abs.$color-black;
        border-right: 6px solid transparent;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
        z-index: 1;
      }

      &::after {
        content: '';
        width: 65px;
        height: 65px;
        box-sizing: border-box;
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        border-radius: 50%;
        border: 6px solid transparent;
        border-bottom: 6px solid abs.$color-black;
        border-left: 6px solid transparent;
        animation: rotation 1s linear infinite;
        z-index: 1;
      }

      @keyframes rotation {
        0% {
          transform: translate(-50%, calc(-50% - 15px / 2)) rotate(0deg);
        }

        100% {
          transform: translate(-50%, calc(-50% - 15px / 2)) rotate(360deg);
        }
      }
    }

    .cart-free-shipping {
      margin: 20px 35px 15px 35px;
      color: #049b6e;
      font-size: 15px;
      line-height: 1.1;

      @media (max-width: 479px) {
        margin-left: 15px;
        margin-right: 15px;
      }

      &.free {
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 4px;
        background-color: #b1efc1; // #b1efdd;
        text-align: center;

        color: #049b50; // #049b26;
      }

      .price-range {
        width: 100%;
        height: 7px;
        background-color: #d9dde7;
        border-radius: 10px;
        position: relative;
        margin-top: 10px;

        >div {
          background-color: #049b6e;
          position: absolute;
          height: 7px;
          left: 0;
          top: 0;
          border-radius: 10px;
        }
      }
    }
  }

  .cart-widget-products {
    margin-top: 10px;

    .cart-widget-products-inner {
      .cart-widget-product {
        display: flex;
        position: relative;
        align-items: stretch;

        padding-right: 10px;
        margin-bottom: 10px;
        margin-left: 35px;
        margin-right: 35px;

        border-radius: abs.$border-radius;

        // transition: background-color .3s ease-in-out;

        border: 2px solid abs.$color-nav-element-background;

        @media (max-width: 479px) {
          margin-left: 15px;
          margin-right: 15px;
        }

        // &:hover {
        //   background-color: abs.$color-nav-element-background;
        // }

        &:last-of-type {
          margin-bottom: 0;
        }

        .cart-widget-product-image {
          flex: 0 0 120px;
          display: flex;
          align-items: center;

          @media (max-width: 479px) {
            flex: 0 0 100px;
          }

          a {
            padding: 10px;
            display: flex;
          }

          img {
            border-radius: 4px;
            display: flex;
          }

          &:hover+.cart-widget-product-amount+.cart-widget-product-unit+.cart-widget-product-name a[data-testid="cartWidgetProductName"] {
            text-decoration: underline;
          }
        }

        .cart-widget-product-amount {
          position: absolute;
          left: 120px;
          bottom: 10px;

          @media (max-width: 479px) {
            left: 100px;
          }
        }

        .cart-widget-product-unit {
          display: none;
        }

        .cart-widget-product-name {
          display: flex;
          justify-content: space-between;
          width: 100%;

          strong {
            flex: 1;
          }

          a[data-testid="cartWidgetProductName"] {
            color: abs.$color-black;
            font-weight: 400;
            font-size: 16px;
            text-decoration: none;
            display: block;
            line-height: 1.1;
            height: 100%;

            padding: 10px 10px calc(38px + 10px + 10px) 0;
            flex: 1;

            &:hover {
              text-decoration: underline;
            }
          }

          span[data-testid="cartWidgetProductPrice"] {
            display: flex;
            align-items: flex-end;
            text-align: right;
            justify-content: flex-end;
            min-width: 50px;
            padding-bottom: 10px;
            font-weight: 600;
            font-size: 16px;
            line-height: 1.1;
            max-width: 170px;

            @media (max-width: 479px) {
              max-width: 71px;
            }
          }
        }

        .cart-widget-product-delete {
          position: absolute;
          right: 5px;
          top: 5px;

          .remove-item {
            background-color: transparent;
            border: 0;
            box-shadow: none;
            width: 20px;
            height: 20px;

            cursor: pointer;

            &:hover {

              &::before,
              &::after {
                background-color: #ff2020;
              }
            }

            &::before,
            &::after {
              content: '';
              position: absolute;
              width: 12px;
              height: 1px;
              border-radius: 1px;
              background-color: abs.$color-black;
              transition: background-color .3s ease-in-out;
              top: 50%;
              left: 50%;
              display: block;
            }

            &::before {
              transform: translate(-50%, -50%) rotate(45deg);
            }

            &::after {
              transform: translate(-50%, -50%) rotate(-45deg);
            }

            .sr-only {
              display: none;
            }
          }
        }
      }
    }
  }

  .cart-window-total {
    margin: 10px 35px 0 35px;
    text-align: center;
    background-color: abs.$color-nav-element-background;
    border-radius: abs.$border-radius;
    padding: 16px 25px;
    font-size: 16px;
    line-height: 1.2;

    @media (max-width: 479px) {
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  .cart-widget-button {
    padding: 20px 35px;
    background-color: #fff;
    z-index: 2;
    position: sticky;
    bottom: 0;

    @media (max-width: 479px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    >a.btn {
      background-color: abs.$color-conversion;
      width: 100%;
      padding: 16px 25px;
      font-size: 16px;
      border-radius: abs.$border-radius;

      &:hover {
        background-color: abs.$color-conversion-hover;
      }
    }

    .cart-continue-shopping {
      background-color: abs.$color-black;
      width: 100%;
      padding: 14px 25px;
      font-size: 16px;
      border-radius: abs.$border-radius;
      color: #fff;
      border: 0;
      box-shadow: none;
      font-family: abs.$poppins;
      transition-duration: 0.3s;
      text-align: center;
      font-weight: 600;
      line-height: 1.2;
      cursor: pointer;
      border: 2px solid abs.$color-black;
      position: relative;
      z-index: 1;
      overflow: hidden;

      +a#continue-order-button {
        display: none;
      }

      @media (min-width: 768px) {
        &::after {
          content: "";
          height: 100%;
          width: 0;
          position: absolute;
          left: 0;
          top: 0;
          background-color: abs.$color-primary;
          border-radius: abs.$border-radius - 2px;
          z-index: -1;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }

        &:hover {
          &::after {
            width: 100%;
          }
        }
      }
    }
  }

  .cart-widget-products .cart-widget-products-inner .cart-widget-product[data-testid="cartTitle"] {
    display: none;
  }

  .cart-window-empty-content {
    padding: 20px 35px;
    text-align: center;
    font-size: 22px;
    font-weight: 600;
    line-height: 1.1;
    color: abs.$color-black;
  }

  .cart-suggested-categories {
    padding: 0 35px 0 35px;

    @media (max-width: 479px) {
      padding-left: 15px;
      padding-right: 15px;
    }

    >span {
      color: abs.$color-grey;
      font-size: 17px;
      line-height: 1.2;
      text-align: center;
      margin-top: -10px;
      display: block;
      font-weight: 400;
    }

    .top-categories-wrapper-cart {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      // margin-left: -10px;
      // margin-right: -10px;
      margin: -5px;
      margin-top: 5px;
      width: calc(100% + 10px);

      .top-category-item-cart {
        width: calc(100% / 2 - 10px);
        text-decoration: none;

        margin: 5px;
        border: 2px solid abs.$color-nav-element-background;
        border-radius: abs.$border-radius;

        padding: 10px;

        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 350px) {
          width: 100%;
        }

        img {
          border-radius: abs.$border-radius;
          margin-bottom: 5px;
          width: 100%;

          aspect-ratio: 140/100;
          object-fit: contain;
          object-position: center;
        }

        &:hover {
          p {
            &::after {
              color: #fff;
              background-color: abs.$color-black;
              border-color: abs.$color-black;
            }
          }
        }

        p {
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: abs.$color-black;
          font-size: 16px;
          font-weight: 500;
          width: 100%;

          &::after {
            content: '\f112';
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: 'alfa';
            font-size: 11px;
            color: abs.$color-black;
            transform: rotate(-90deg);
            background-color: #fff;
            width: 35px;
            height: 35px;
            flex: 0 0 35px;
            padding-top: 3px;
            border-radius: 50px;
            border: 1px solid abs.$color-nav-element-background-hover;
            margin-left: 10px;

            transition-duration: .3s;
          }
        }
      }
    }
  }
}