@use "../Abstracts" as abs;

.benefitBanner {
  display: flex;
  border-radius: abs.$border-radius;
  border: 2px solid transparent;
  justify-content: center;
  flex-wrap: wrap;

  @include abs.background;

  margin-bottom: abs.$small-gap;

  padding: 7.5px 0;

  .benefitBanner__item {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    width: 100%;

    padding: 7.5px 0;

    @media (max-width: 767px) {
      padding: 15px 0;

      +.benefitBanner__item {
        &::before {
          content: '';
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          width: 40px;
          background-color: abs.$border-color;
          height: 2px;
        }
      }
    }

    @media (min-width: 768px) {
      width: calc(100% / 2);

      +.benefitBanner__item {
        &::before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 2px;
          background-color: abs.$border-color;
          height: 40px;
        }
      }

      @media (max-width: 991px) {
        &:nth-child(2n + 3) {
          &::before {
            content: none;
          }
        }
      }
    }

    @media (min-width: 992px) {
      width: calc(100% / 3);

      @media (max-width: 1199px) {
        &:nth-child(3n + 4) {
          &::before {
            content: none;
          }
        }
      }
    }

    @media (min-width: 1200px) {
      width: calc(100% / 4);

      &:nth-child(4n + 5) {
        &::before {
          content: none;
        }
      }
    }

    .benefitBanner__link {
      display: flex;
      align-items: center;
      justify-content: center;

      width: 100%;

      text-decoration: none;

      &:hover {
        .benefitBanner__title {
          text-decoration: none;
        }
      }

      .benefitBanner__title {
        text-decoration: underline;
      }

      .benefitBanner__data {
        text-decoration: none;
      }

      @media (max-width: 767px) {
        flex-direction: column;
        justify-content: center;
      }
    }

    .benefitBanner__picture {
      width: 58px;
      height: 58px;
      min-width: 58px;
      min-height: 58px;

      margin: 5px 0 5px 20px;

      @media (max-width: 767px) {
        margin: 5px 20px 5px 20px;
      }

      +.benefitBanner__content {
        @media (min-width: 768px) {
          padding-left: 10px;
        }

        // width: calc(100% - 58px - 10px - 20px);
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .benefitBanner__content {
      padding: 5px 20px;

      .benefitBanner__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.1;
        color: abs.$color-black;

        +.benefitBanner__data {
          margin-top: 4px;
        }
      }

      .benefitBanner__data {
        color: abs.$color-grey;
        font-size: 15px;
        font-weight: 400;
        line-height: 1.1;
      }
    }

    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;

      .benefitBanner__content {
        text-align: center;
      }
    }
  }
}

.type-category {
  .benefitBanner {
    margin-bottom: abs.$large-gap;
    margin-top: 30px;

    @media (max-width: 991px) {
      margin-bottom: abs.$mobile-gap + 10px;
    }

    @media (max-width: 767px) {
      margin-bottom: abs.$mobile-gap;
    }
  }
}