@use "../variables" as *;

body {
  .latest-contribution-wrapper {
    margin-top: $large-gap - 10px;

    @media (max-width: 991px) {
      margin-top: $mobile-gap + 10px - 10px;
    }

    @media (max-width: 767px) {
      margin-top: $mobile-gap - 10px;
    }
  }
}

.latest-contribution-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: -10px;
  width: calc(100% + 20px);

  .latest-contribution {
    width: calc(100% / 2 - 20px);

    margin: 10px;

    @include background;

    border-radius: $border-radius;
    padding: 20px;

    h2 {
      text-align: center;
      font-size: 28px;
      margin-bottom: 10px;
    }

    .latest-contribution-inner {
      display: flex;
      align-items: flex-start;

      border: 2px solid #f8f8f8;
      border-radius: $border-radius;
      padding: 10px;
      text-decoration: none;

      margin-bottom: 5px;

      &:last-of-type {
        margin-bottom: 0;
      }

      h4 {
        font-size: 18px;
      }

      .latest-contribution-info {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .hidden-xs {
          display: none;
        }

        i {
          margin: 0 4px;
          color: $color-grey;
          font-size: 14px;
        }

        .stars {
          width: 100%;
        }

        .latest-contribution-author,
        .latest-contribution-date,
        .latest-contribution-title {
          color: $color-grey;
          font-size: 14px;
          display: block;
          margin-top: 3px;
        }

        // .latest-contribution-title {
        //   width: 100%;
        //   color: $color-grey;
        //   margin-top: 3px;
        //   font-size: 15px;
        //   font-weight: 500;
        // }
      }

      .latest-contribution-description {
        margin-top: 1px;
        color: $color-black;
        font-weight: 400;
        line-height: 1.3;
        font-size: 15px;

        @media (max-width: 479px) {
          font-size: 14px;
        }
      }

      .latest-contribution-product {
        margin-bottom: 1px;
        font-size: 18px;
        line-height: 1.1;
        font-weight: 400;
        color: $color-black;

        @media (max-width: 479px) {
          font-size: 16px;
        }
      }

      &:hover .latest-contribution-product {
        text-decoration: underline;
      }
    }

    &.latest-contribution-discussion {
      .latest-contribution-inner {
        .latest-contribution-image {
          margin-top: 0;
        }

        .latest-contribution-info {
          .latest-contribution-info {
            margin-bottom: 1px;
          }

          // .latest-contribution-date {
          //   +i {
          //     display: none;
          //   }
          // }
        }

        .latest-contribution-description {
          margin-top: 2px;
        }
      }
    }

    &:only-child {
      width: calc(100% - 20px);

      @media (min-width: 1199px) {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        padding: 20px 15px 15px 15px;

        h2 {
          width: 100%;
          margin-bottom: 5px;
        }

        .latest-contribution-inner {
          width: calc(50% - 10px);
          margin: 5px;
        }
      }
    }

    @media (max-width: 991px) {
      width: calc(100% - 20px);
    }
  }
}