@use "../variables" as *;

@media (min-width: 768px) {
  .scrolled-custom.scrolled-down body.type-index:not(.header-hover) .row.banners-row .top-categories-custom {
    top: 88px + 15px;
  }

  .type-index .sidebar+#content .row.banners-row {
    flex-direction: column-reverse;

    .top-categories-custom {
      position: initial;
      width: 100%;

      h4 {
        text-align: center;

        font-size: 22px;
      }

      .top-categories-wrapper {
        justify-content: center;

        .top-category-item {
          flex: 1 0 calc(100% / 5);

          border-right: 1px solid #f5f5f5;

          &:last-child {
            border-right: 0;
          }

          p {
            font-size: 16px;
          }

          @media (min-width: 1440px) {
            &:nth-child(5n) {
              border-right: 0;
            }

            &:nth-child(n+6) {
              border-top: 1px solid #f5f5f5;
            }
          }

          @media (max-width: 1439px) and (min-width: 1200px) {
            flex: 1 0 calc(100% / 4);

            &:nth-child(4n) {
              border-right: 0;
            }

            &:nth-child(n+5) {
              border-top: 1px solid #f5f5f5;
            }
          }

          @media (max-width: 1199px) and (min-width: 992px) {
            flex: 1 0 calc(100% / 3);

            &:nth-child(3n) {
              border-right: 0;
            }

            &:nth-child(n+4) {
              border-top: 1px solid #f5f5f5;
            }
          }

          @media (max-width: 991px) {
            flex: 1 0 calc(100% / 2);

            &:nth-child(2n) {
              border-right: 0;
            }

            &:nth-child(n+3) {
              border-top: 1px solid #f5f5f5;
            }
          }
        }
      }
    }
  }
}

.type-index .row.banners-row {
  display: flex;
  align-items: flex-start;

  position: relative;

  &.no-carousel {
    display: flex;
    align-items: flex-start;
    flex-direction: column-reverse;

    @media (min-width: 1301px) {
      .top-categories-custom {
        position: initial;
        width: 100%;
        // display: flex;
        // flex-direction: column;
        // align-items: center;

        h4 {
          text-align: center;

          font-size: 22px;
        }

        .top-categories-wrapper {
          justify-content: center;

          .top-category-item {
            flex: 1 0 calc(100% / 6);

            border-right: 1px solid #f5f5f5;

            &:nth-child(6n) {
              border-right: 0;
            }

            &:last-child {
              border-right: 0;
            }

            &:nth-child(n+7) {
              border-top: 1px solid #f5f5f5;
            }

            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1301px) {
    &:not(.no-carousel) {
      .top-categories-custom .top-categories-wrapper .top-category-item {
        &:nth-child(odd) {
          border-right: 1px solid #f5f5f5;
          border-bottom: 1px solid #f5f5f5;

          &:nth-last-child(-n+2) {
            border-bottom: 0;
          }
        }

        &:nth-child(even) {
          border-bottom: 1px solid #f5f5f5;

          &:last-child {
            border-bottom: 0;
          }
        }

        &:last-child:nth-child(odd) {
          border: 0;
        }
      }
    }
  }

  >div {
    opacity: 0;
  }

  &::before {
    content: '';
    width: 65px;
    height: 65px;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    position: absolute;
    display: block;
    border: 6px solid transparent;
    border-top: 6px solid $color-black;
    border-right: 6px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    z-index: 1;

    // @media (max-width: 767px) {
    //   top: 250px;
    // }
  }

  &::after {
    content: '';
    width: 65px;
    height: 65px;
    box-sizing: border-box;
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    border: 6px solid transparent;
    border-bottom: 6px solid $color-black;
    border-left: 6px solid transparent;
    animation: rotation 1s linear infinite;
    z-index: 1;

    // @media (max-width: 767px) {
    //   top: 250px;
    // }
  }

  @keyframes rotation {
    0% {
      transform: translate(-50%, calc(-50% - 15px / 2)) rotate(0deg);
    }

    100% {
      transform: translate(-50%, calc(-50% - 15px / 2)) rotate(360deg);
    }
  }

  &.loaded-state {
    >div {
      opacity: 1;
    }

    &::before,
    &::after {
      content: none;
    }
  }

  .top-categories-custom {
    position: sticky;
    top: 124px + 15px;
    width: 300px;
    @include background;
    border-radius: $border-radius;
    margin-right: $small-gap;
    margin-bottom: $small-gap;

    transition: top .3s ease-out;

    padding: 15px;

    h4 {
      margin-bottom: 10px;
      font-size: 20px;
      font-family: $poppins;
      font-weight: 600;
    }

    .top-categories-wrapper {
      display: flex;
      flex-wrap: wrap;
      border: 1px solid #f5f5f5;
      border-radius: $border-radius;
      overflow: hidden;

      .top-category-item {
        flex: 1 0 calc(100% / 2);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        padding: 10px;

        transition: background-color .3s ease-in-out;

        @media (max-width: 1300px) {
          flex: 1 0 calc(100% / 3);

          @media (min-width: 601px) {
            border-right: 1px solid #f5f5f5;

            &:nth-child(3n) {
              border-right: 0;
            }

            &:last-child {
              border-right: 0;
            }

            &:nth-child(n+4) {
              border-top: 1px solid #f5f5f5;
            }
          }
        }

        @media (max-width: 600px) {
          flex: 1 0 calc(100% / 2);

          &:nth-child(odd) {
            border-right: 1px solid #f5f5f5;
            border-bottom: 1px solid #f5f5f5;

            &:nth-last-child(-n+2) {
              border-bottom: 0;
            }
          }

          &:nth-child(even) {
            border-bottom: 1px solid #f5f5f5;

            &:last-child {
              border-bottom: 0;
            }
          }

          &:last-child:nth-child(odd) {
            border: 0;
          }
        }

        &:hover {
          background-color: #f5f5f5;
        }

        img {
          width: 112px;
          height: 80px;
          object-fit: contain;
          border-radius: $border-radius;
          margin: 0 auto;
        }

        p {
          color: $color-black;
          margin-top: 6px;
          font-size: 15px;
          text-align: center;
        }
      }
    }
  }

  .right-columns-wrapper {
    flex: 1;
  }

  @media (max-width: 1300px) {
    flex-direction: column-reverse;
    align-items: stretch;

    .top-categories-custom {
      width: 100%;
      margin-right: 0;
      position: initial;

      h4 {
        text-align: center;
        font-size: 24px;
      }
    }
  }
}

@media (max-width: 767px) {
  .type-index #content>.row.banners-row {
    .top-categories-custom {
      @include background;
      border-radius: $border-radius;
      padding: 15px;

      margin-bottom: $small-gap-12;

      h4 {
        text-align: center;
      }

      .top-categories-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        >a {
          width: calc(100% / 6);

          @media (max-width: 767px) {
            width: calc(100% / 2);
          }
        }
      }
    }

    @media (max-width: 767px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
    }
  }
}