@use "../variables" as *;

.type-index .sidebar+#content .next-to-carousel-banners .banner-wrapper {
  @media (max-width: 1439px) {
    flex: 1 1 calc(100% / 2 - 15px);
  }

  @media (max-width: 1199px) {
    flex: 1 1 calc(100% / 1 - 15px);
  }
}

.next-to-carousel-banners {
  display: flex;
  flex-wrap: wrap;

  margin: -7.5px;
  width: calc(100% + 15px);

  margin-bottom: $small-gap - 7.5px;

  @media (max-width: 767px) {
    margin-bottom: calc($small-gap-12 / 2);
    margin-top: calc($small-gap-12 / -2);
  }

  .banner-wrapper {
    overflow: hidden;
    border-radius: $border-radius;

    position: relative;

    margin: 7.5px;
    flex: 1 1 calc(100% / 3 - 15px);

    @media (max-width: 991px) {
      flex: 1 1 calc(100% - 15px);
    }

    @media (max-width: 767px) {
      margin: calc($small-gap-12 / 2) 7.5px;
    }

    a:hover img {
      transform: scale(1.03);
    }

    a {
      display: flex;
      height: 100%;
      text-decoration: none;
      align-items: flex-end;

      &[href="/"] {
        pointer-events: none;

        .extended-banner-texts .extended-banner-link {
          pointer-events: none;
        }
      }
    }

    .extended-banner-texts {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 15px;
      margin: 12px;

      position: absolute;
      left: 0;
      bottom: 0;

      z-index: 1;

      width: auto;

      max-width: clamp(200px, calc(85% - 24px), 470px);

      @media (max-width: 767px) {
        justify-content: flex-end;
        max-width: calc(100% - 24px);
        padding: 8px;
      }

      &:not(.is-black):not(.is-white):not(.has-background) {
        display: none;
      }

      &.has-background {
        background-color: #fff;
        border-radius: $border-radius;

        max-width: calc(85% - 24px);

        @media (max-width: 767px) {
          max-width: calc(100% - 24px);
          padding: 15px;
        }

        .extended-banner-title {
          +.extended-banner-text {
            margin-top: 4px;
          }

          +.extended-banner-link {
            margin-top: 12px;
          }
        }

        .extended-banner-text {
          +.extended-banner-link {
            margin-top: 12px;
          }
        }
      }

      &.is-black {

        .extended-banner-title,
        .extended-banner-text {
          color: $color-black;
        }

        .extended-banner-link {
          color: #fff;
          background-color: $color-black;
          border-color: $color-black;
        }
      }

      &.is-white {

        .extended-banner-title,
        .extended-banner-text {
          color: #fff;
        }

        .extended-banner-link {
          color: $color-black;
          background-color: #fff;
          border-color: #fff;
        }
      }

      .extended-banner-title {
        color: $color-black;
        font-size: clamp(18px, 1vw, 22px);
        font-size: clamp(18px, 1cqw, 22px);
        font-weight: 600;
        font-family: $poppins;
        line-height: 1.1;

        overflow-wrap: break-word;
        word-break: normal;
        width: 100%;

        @media (max-width: 767px) {
          font-size: 18px;
        }

        +.extended-banner-text {
          margin-top: 4px;
        }

        +.extended-banner-link {
          margin-top: 15px;
        }
      }

      .extended-banner-text {
        color: $color-black;
        font-size: clamp(24px, 1.4vw, 28px);
        font-size: clamp(24px, 1.6cqw, 28px);
        font-weight: 600;
        line-height: 1.1;
        font-family: $poppins;

        width: 100%;

        overflow-wrap: break-word;
        word-break: normal;

        @media (max-width: 767px) {
          font-size: clamp(24px, 6cqw, 28px);
        }

        +.extended-banner-link {
          margin-top: 15px;
        }
      }

      .extended-banner-link {
        background-color: $color-black;
        padding: 10px 20px;
        font-weight: 500;
        font-size: 16px;
        color: #fff;
        border-radius: 150px;
        font-family: $poppins;

        pointer-events: all;

        transition-duration: .3s;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: 2px solid $color-black;

        &::after {
          content: '';
          height: 100%;
          width: 0;
          position: absolute;
          left: 0;
          top: 0;
          background-color: $color-primary;
          border-radius: 150px;
          z-index: -1;
          transition-duration: .3s;
          transition-timing-function: ease-out;
        }

        &:hover {
          color: #fff;

          &::after {
            width: 100%;
          }
        }
      }
    }

    img {
      display: flex;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;

      transition: transform .3s ease-in-out;
    }
  }
}