@use "../Abstracts" as abs;

.type-posts-listing,
.type-post {
  time {
    padding: 3px 5px;
    border-radius: 2px;
    background-color: #fdeff5;
    font-size: 13px;
    color: #eb619e;
    margin-bottom: 10px;
    display: inline-block;

    &::before {
      content: '\f117';
      font-family: 'alfa';
      display: inline-block;
      margin-right: 4px;
      font-size: 16px;
      color: #eb619e;
      margin-top: -4px;
      position: relative;
      top: 3px;
    }
  }
}

.type-post time {
  margin-bottom: 0;
}

#newsWrapper,
.homepage-blog-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-start;
  width: calc(100% + 15px);
  margin: -10px -7.5px;

  .homepage-group-title {
    width: calc(100% - 15px);
    margin-left: 7.5px;
    margin-right: 7.5px;
    margin-bottom: 15px - 10px;
  }

  .news-item {
    margin: 10px 7.5px;

    display: flex;
    flex-direction: column;
    align-items: stretch;

    width: calc(100% / 3 - 15px);

    @media (max-width: 1300px) {
      width: calc(100% / 2 - 15px);
    }

    @media (max-width: 650px) {
      width: calc(100% - 15px);
    }

    >a {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      height: 100%;
      text-decoration: none;

      &:hover {
        .read-article::after {
          width: 100%;
        }
      }
    }

    .image {
      border-top-left-radius: abs.$border-radius;
      border-top-right-radius: abs.$border-radius;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        aspect-ratio: 16 / 9;

        border-radius: 0;
        transition-duration: .3s;
      }
    }

    .text {
      border-bottom-left-radius: abs.$border-radius;
      border-bottom-right-radius: abs.$border-radius;
      padding: 20px;
      @include abs.background;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;

      > :last-child:not(.read-article) {
        margin-bottom: 0;
        padding-bottom: 0;
      }

      .title {
        line-height: 1.1;
        font-weight: 600;
        font-size: 20px;
        color: abs.$color-black;
        padding-bottom: 10px;

        @media (max-width: 479px) {
          font-size: 18px;
        }

        +time {
          margin-top: -5px;
        }
      }

      a.title {
        margin-left: -20px;
        width: calc(100% + 40px);
        text-decoration: none;
        margin-top: -20px;
        padding-top: 20px;
        padding-left: 20px;
        padding-right: 20px;

        &:hover {
          text-decoration: underline;
        }
      }

      .description {
        margin-bottom: 15px;
        color: abs.$color-grey;
        font-weight: 400;
        line-height: 1.4;
        font-size: 16px;

        @media (max-width: 479px) {
          font-size: 15px;
        }
      }

      .read-article {
        border-radius: 150px;
        font-size: 14px;
        font-weight: 500;
        line-height: 1.2;
        padding: 10.5px 20px;
        text-align: center;
        background-color: abs.$color-black;
        position: relative;
        z-index: 1;
        overflow: hidden;
        border: 2px solid abs.$color-black;
        color: #fff;
        font-family: abs.$poppins;
        transition-duration: 0.3s;

        margin-top: auto;

        &:hover {
          &::after {
            width: 100%;
          }
        }

        &::after {
          content: "";
          height: 100%;
          width: 0;
          position: absolute;
          left: 0;
          top: 0;
          background-color: abs.$color-primary;
          border-radius: 150px;
          z-index: -1;
          transition-duration: 0.3s;
          transition-timing-function: ease-out;
        }
      }
    }

    >.image:hover img {
      transform: scale(1.02);
    }
  }
}

.homepage-blog-wrapper {
  justify-content: center;
  margin-top: 0;

  .news-item {
    @media (min-width: 1301px) {
      &:nth-last-child(1):nth-child(n + 4) {
        margin-right: auto;
      }
    }

    @media (max-width: 1300px) and (min-width: 651px) {
      &:nth-last-child(1):nth-child(n + 3) {
        margin-right: auto;
      }
    }

    @media (max-width: 650px) {
      &:nth-last-child(1):nth-child(n + 2) {
        margin-right: auto;
      }
    }

    .description {
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.type-posts-listing {
  #articlesListHeading.sr-only {
    display: none;
  }

  .sectionDescription {
    margin-bottom: 20px;
  }
}

@media (min-width: 992px) {
  .sidebar+#content {

    #newsWrapper,
    .homepage-blog-wrapper {
      .news-item {
        width: calc(100% / 3 - 15px);

        @media (max-width: 1439px) {
          width: calc(100% / 2 - 15px);
        }

        @media (max-width: 1199px) {
          width: calc(100% - 15px);
        }
      }
    }

    .homepage-blog-wrapper {
      &:nth-last-child(1):nth-child(n + 4) {
        margin-right: auto;
      }

      @media (max-width: 1439px) {
        &:nth-last-child(1):nth-child(n + 3) {
          margin-right: auto;
        }
      }

      @media (max-width: 1199px) {
        &:nth-last-child(1):nth-child(n + 2) {
          margin-right: auto;
        }
      }
    }
  }
}