@use "../Abstracts" as abs;

$rate-space: 50px;

.sidebar+#content #ratingWrapper {
  @media (max-width: 1199px) {
    flex-direction: column;
    align-items: stretch;

    .rate-wrap {
      flex: 1;
      width: 100%;
    }

    #rate-form {
      flex: 1;
      width: 100%;
      margin-left: 0;
      margin-top: 12px;
    }
  }
}

.no-ratings-message+#ratingWrapper {
  >.rate-wrap {
    display: none;

    +#rate-form {
      margin-left: 0;
    }
  }
}

#ratingWrapper {
  margin-top: 15px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  @media (max-width: 991px) {
    flex-direction: column;
    align-items: stretch;
  }

  .add-comment {
    border-radius: 150px;
    border-style: none;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.2;
    padding: 14px 25px;
    text-align: center;
    background-color: abs.$color-primary;
    color: #fff;
    font-family: "Poppins", sans-serif;
    transition-duration: 0.3s;
    margin-top: 15px;

    display: none;

    &:hover {
      background-color: abs.$color-secondary;
    }
  }

  &.unveiled .add-comment {
    display: none;
  }

  #rate-form {
    @include abs.background;
    padding: 20px;
    border-radius: abs.$border-radius;
    flex: 1;
    margin-left: 12px;

    @media (max-width: 991px) {
      flex: 1;
      width: 100%;
      margin-left: 0;
      margin-top: 12px;
    }

    .star {
      cursor: pointer;
    }

    .consents label {
      padding-left: 0;
    }

    textarea {
      width: 100%;
    }

    .smart-label-wrapper {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      label {
        margin-bottom: 5px;
      }
    }

    .btn {
      margin-top: 15px;

      @media (max-width: 991px) {
        margin-top: 10px;
      }
    }
  }

  .rate-wrap {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 1 350px;

    @include abs.background;
    padding: 20px;
    border-radius: abs.$border-radius;

    @media (max-width: 991px) {
      flex: 1;
      width: 100%;
    }

    .rate-average-inner {
      display: flex;
      align-items: flex-start;
    }

    .rate-average {
      font-size: 42px;
      display: flex;
      font-weight: 600;
      margin-right: 10px;

      // &::after {
      //   content: '/5';
      //   color: abs.$color-grey;
      // }
    }

    .rate-star-wrap {
      margin-top: 5px;

      .stars-label {
        margin-top: 5px;
        display: block;
        font-size: 15px;
        line-height: 1.1;
        color: abs.$color-grey;
        font-weight: 500;
      }
    }

    .rate-average-wrap {
      margin-bottom: 15px;
    }

    .rate-list {
      display: flex;
      align-items: center;

      margin-bottom: 7px;

      &:last-of-type {
        margin-bottom: 0;
      }

      .rate-star {
        flex: 0 0 35px;
        padding-right: 5px;
        justify-content: space-between;

        .rate-value {
          flex: 1;
          font-weight: 600;
          color: abs.$color-black;
        }

        .star::after {
          content: '\f10a';
        }
      }

      .rate-block {
        background-color: #d9dde7;
        width: 100%;
        border-radius: 3px;
        position: relative;
        margin-right: $rate-space;
        flex: 1;

        .rate-bar {
          height: 5px;
          border-radius: 5px;
          background-color: abs.$color-primary;
          display: block;

          .rate-count {
            display: block;
            position: absolute;
            right: -$rate-space;
            width: $rate-space;
            text-align: right;
            padding-left: 5px;
            top: 50%;
            transform: translateY(-50%);
            color: abs.$color-grey;
            font-weight: 600;
            font-size: 15px;
            line-height: .9;
            overflow-wrap: break-word;
          }
        }
      }
    }
  }

  #rate-form {
    // &.js-hidden {
    //   max-height: 0;
    //   max-width: 0;
    //   overflow: hidden;
    //   position: absolute;
    //   transform: scaleY(0) scaleX(0);
    //   transform-origin: center;
    //   transition: none;
    //   visibility: hidden;
    //   opacity: 0;

    //   &.visible {
    //     max-height: none;
    //     max-width: none;
    //     overflow: visible;
    //     position: inherit;
    //     transform: scaleY(1) scaleX(1);
    //     transform-origin: center;
    //     transition: opacity .3s ease-out;
    //     visibility: visible;
    //     opacity: 1;
    //   }
    // }

    &.js-hidden {
      max-height: none;
      max-width: none;
      overflow: visible;
      position: inherit;
      opacity: 1;
      transform: none;
      transform-origin: center;
      visibility: visible;
    }
  }
}

#ratingsListHeading {
  display: none;
}

#ratingsList {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: -6px;
  width: calc(100% + 12px);

  margin-top: -6px + 20px;

  .vote-wrap {
    width: calc(100% - 12px);
    margin: 6px;
    padding: 15px;
    border-radius: abs.$border-radius;
    @include abs.background;

    // @media (max-width: 991px) {
    //   width: calc(100% - 12px);
    // }
  }

  .admin-response {
    .vote-wrap {
      width: 100%;
      padding: 0;
      border-radius: 0;
      box-shadow: none;
      margin: 0;
      margin-top: 10px;
      padding-top: 10px;
      border-top: 2px solid #f5f5f5;
    }
  }
}

/* Global */
.latest-contribution-image,
.vote-pic {
  position: relative;
  border-radius: abs.$border-radius;
  overflow: hidden;
  margin-right: 10px;
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
  display: block;

  img {
    object-fit: cover;
  }

  .vote-initials {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
  }
}

.vote-header {
  display: flex;
  align-items: center;
}

.vote-name {
  display: block;
  font-size: 18px;
  line-height: 1.1;
  font-weight: 400;
  color: abs.$color-black;
}

.vote-rating {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: abs.$color-grey;
  font-size: 14px;
}

.vote-delimeter {
  margin: 0 4px;
  display: none;
}

.vote-time {
  margin-top: 2px;
  display: block;
}

.vote-content {
  color: abs.$color-black;
  margin-top: 8px;
  color: abs.$color-grey;
  font-weight: 400;
  line-height: 1.3;
  font-size: 16px;
}

/* Global */