@use "../Abstracts" as abs;

.type-manufacturers-listing {
  .manufacturers {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    margin: -7.5px;
    width: calc(100% + 15px);

    li {
      padding-left: 0;

      &::before {
        content: none;
      }
    }

    >li {
      width: calc(100% / 5 - 15px);
      @include abs.background;
      border-radius: abs.$border-radius;
      margin: 7.5px;

      padding: 15px;

      @media (max-width: 1199px) {
        width: calc(100% / 4 - 15px);
      }

      @media (max-width: 991px) {
        width: calc(100% / 3 - 15px);
      }

      @media (max-width: 550px) {
        width: calc(100% / 2 - 15px);
      }

      li {
        a {
          text-decoration: underline;
          color: abs.$color-black;

          &:hover {
            color: abs.$color-black;
            text-decoration: none;
          }
        }
      }
    }
  }
}