@use "../Abstracts" as abs;

.sidebar {
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;

  li {
    padding-left: 0;

    &::before {
      content: none;
    }
  }

  a {
    color: abs.$color-black;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  h5 {
    font-size: 16px;
  }

  .skip-link__wrapper {
    display: none;
  }
}

.sidebar-indented {
  #content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    .category-top {
      width: 100%;
    }

    .category-content-wrapper {
      flex: 1;
    }

    .sidebar {
      margin-top: 25px;
    }
  }
}

#content-wrapper>.content-wrapper-in {
  display: flex;
  justify-content: flex-start;

  .sidebar {
    $sidebar-width: 300px;

    width: $sidebar-width;
    flex-shrink: 0;

    margin-right: 30px;

    @media (max-width: 991px) {
      display: none;
    }

    .sidebar-inner {
      >.box {
        padding: 10px;
        // @include abs.background;

        border: 2px solid transparent;
        border-radius: abs.$border-radius;

        margin-bottom: abs.$small-gap;

        border-color: #e0e5ee; // #e0e3eb;
        background-color: #e0e5ee; // #e0e3eb;
      }
    }

    h4 {
      margin-bottom: 10px;
      font-size: 22px;
      font-weight: 700;
      color: abs.$color-black;
    }

    +#content {
      flex: 1;
      min-width: 0;
    }

    /* Categories */
    .box.box-categories {
      // background-color: transparent;
      // padding: 0;
      // padding-bottom: 12px;
      // border: 0;
      // box-shadow: none;
      // border-radius: 0;
      // border: 0;

      // h4 {
      //   padding: 12px 12px 0 12px;
      // }

      #categories {
        li {
          margin-bottom: 0;
          padding-left: 0;
        }

        >.categories {

          &:not(.expandable),
          #cat-manufacturers {
            .topic>a {
              padding-left: 12px;
            }
          }

          &.expandable,
          .expandable {
            >ul {
              display: none;
            }

            .topic>a,
            >a {
              padding-right: 10px;

              flex-direction: row;
              justify-content: space-between;

              .cat-trigger {
                // background-color: rgba($color: #000000, $alpha: .4);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 0;
                line-height: 0;
                padding: 0 3px;
                margin-right: 5px;

                &::before {
                  content: '\f112';
                  font-family: 'alfa';
                  font-size: 9px;
                  line-height: 1.1;
                }
              }
            }
          }

          &.expandable.expanded,
          .expandable.expanded {
            >ul {
              display: block;
            }
          }

          &.expanded>.topic,
          .expanded {
            >a .cat-trigger {
              transform: rotate(180deg);
            }
          }

          >.topic>a {
            font-weight: 600;
          }

          .child-active>a {
            color: abs.$color-primary;
          }

          &.expandable {
            >.topic>a {
              margin-bottom: 0;
            }

            >ul>li>a {
              // padding: 0;
              margin-bottom: 0;
            }
          }

          a {
            width: 100%;
            padding: 8px 12px;
            // margin-bottom: 4px;
            // background-color: #e0e5ee; //#f3f5f8;
            display: flex;
            align-items: stretch;
            justify-content: space-between;

            font-size: 16px;
            border-radius: abs.$border-radius;

            text-decoration: none;

            // border-radius: abs.$border-radius;

            &:hover {
              // color: #fff;

              background-color: #d9dde7;
            }
          }

          .active>a {
            color: #fff;

            background-color: abs.$color-primary;
          }

          &:last-of-type>.topic {
            a {
              margin-bottom: 0;
            }
          }

          // ul li {
          //   >a {
          //     padding-left: 12px + 10px + 15px + 5px;
          //   }

          //   ul li {
          //     >a {
          //       padding-left: 12px + 20px + 15px + 5px;
          //     }

          //     ul li {
          //       >a {
          //         padding-left: 12px + 30px + 15px + 5px;
          //       }

          //       ul li {
          //         >a {
          //           padding-left: 12px + 40px + 15px + 5px;
          //         }

          //         ul li {
          //           >a {
          //             padding-left: 12px + 50px + 15px + 5px;
          //           }

          //           ul li>a {
          //             padding-left: 12px + 60px + 15px + 5px;
          //           }
          //         }
          //       }
          //     }
          //   }
          // }

          ul li {
            >a {
              padding-left: 12px + 10px;
            }

            ul li {
              >a {
                padding-left: 12px + 20px;
              }

              ul li {
                >a {
                  padding-left: 12px + 30px;
                }

                ul li {
                  >a {
                    padding-left: 12px + 40px;
                  }

                  ul li {
                    >a {
                      padding-left: 12px + 50px;
                    }

                    ul li>a {
                      padding-left: 12px + 60px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    /* Categories */

    /* Filters */
    .box-filters {
      #filters {
        &.visible {
          display: block;
        }

        display: none;
      }
    }

    /* Filters */
  }
}